Info Links: https://code.visualstudio.com/docs/python/jupyter-support  
https://stackoverflow.com/questions/35226904/convert-spanish-date-in-string-format  
https://stackabuse.com/how-to-format-dates-in-python/  
Dateparser docs:https://dateparser.readthedocs.io/en/latest/  

Threads:https://stackoverflow.com/questions/34386561/pyqt-not-responding  
Thread and return:https://stackoverflow.com/questions/6893968/how-to-get-the-return-value-from-a-thread-in-python 


Tuto threads:http://www.laurentluce.com/posts/python-threads-synchronization-locks-rlocks-semaphores-conditions-events-and-queues/  
Threads PyQT5: https://stackoverflow.com/questions/42357656/pyqt5-timers-cannot-be-started-from-another-thread-error-when-changing-size-of


RESPUESTA FINAL: https://stackoverflow.com/questions/42357656/pyqt5-timers-cannot-be-started-from-another-thread-error-when-changing-size-of


Problema cierre de ventanas por que los recolecta pa basura: https://www.reddit.com/r/Python/comments/7cml65/pyqt_second_screen_closes_immediately/

## Imports the necessary libraries

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Gets all the files from the dir
baseDir = r"C:\\Users\\robin\\Google Drive\\WORK\\ExcelsStuff\\files"
fileNames = []
for filename in os.listdir(baseDir):
    if(filename.startswith('~$')):
        continue
    fileNames.append(filename)
fileNames

['Dic312019.xlsx', 'Ene022020.xlsx']

## Reads each excel file and saves all the sheets into a list with the specified columns

In [3]:

dfs = []
COLS = ["RAT","OPERATOR","CHANNEL","IMEI","IMSI","TMSI",
        "MS POWER","TA","LAST LAC","NAME","HITS","DATE-TIME"]
for filename in fileNames:
    # dfs.append(pd.read_excel(f"{baseDir}\\{filename}"))
    temd_dfs = [pd.read_excel(f"{baseDir}\\{filename}", sheet_name=0, usecols=COLS), #2G
                pd.read_excel(f"{baseDir}\\{filename}", sheet_name=1, usecols=COLS), #3G
                pd.read_excel(f"{baseDir}\\{filename}", sheet_name=2, usecols=COLS)] #4G
    dfs.append(temd_dfs)
len(dfs)

2

In [4]:
dfs[0][0].head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE-TIME
0,2G,EC-Claro(América Móvil)-01,144,740020170411491,359459077681588,FFFFFFFF,-61,0,65534,NaN,1,mi. ene. 1 03:05:16 2020
1,2G,EC-Claro(América Móvil)-01,144,740010164127419,357815081319451,FFFFFFFF,-62,0,65534,NaN,1,mi. ene. 1 03:04:51 2020
2,2G,EC-Claro(América Móvil)-01,144,740010177429066,863697045358438,151D1A53,-66,0,50134,NaN,1,mi. ene. 1 02:55:06 2020
3,2G,EC-Claro(América Móvil)-01,144,740010120727910,357084081525001,97155956,-62,0,10228,NaN,1,mi. ene. 1 02:54:44 2020
4,2G,EC-Claro(América Móvil)-01,144,740010180400328,358099104079272,FFFFFFFF,-64,0,65534,NaN,1,mi. ene. 1 02:37:15 2020

In [8]:
# The dfs[0] means the excel file at index 0 with the 3 pages as dataframes
len(dfs[0])
# The fisrt index is a list of dataframes that has everydataframe

3

In [5]:
len([df for dflist in dfs for df in dflist])

6

In [6]:
allData = pd.concat([df for dflist in dfs for df in dflist])
allData.info() # 3633-6 filas sin contar los headers

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3627 entries, 0 to 73
Data columns (total 12 columns):
RAT          3627 non-null object
OPERATOR     3627 non-null object
CHANNEL      3627 non-null int64
IMSI         3524 non-null float64
IMEI         3528 non-null float64
TMSI         3528 non-null object
MS POWER     3627 non-null float64
TA           3627 non-null int64
LAST LAC     3627 non-null int64
NAME         0 non-null float64
HITS         3627 non-null int64
DATE-TIME    3627 non-null object
dtypes: float64(4), int64(4), object(4)
memory usage: 368.4+ KB

In [67]:
# Renaming columns
cols = allData.columns
cols = cols.map(lambda x: x.strip().replace(' ', '_').strip() if isinstance(x, (str, )) else x)
allData.columns = cols

In [68]:
allData.head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42
291,3G,EC-Claro(América Móvil)-01,587,7.400002e+14,3.517591e+14,A4C47315,-105.0,3,15251,NaN,1,2019-12-31,17:00:04
290,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.557471e+14,FC483124,-66.0,3,50134,NaN,1,2019-12-31,17:00:40
289,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.648850e+14,DA430032,-43.0,3,50134,NaN,1,2019-12-31,17:00:43

### Returns a datetime object from a string representation

In [9]:
def getMonthInt(strMonth):
    if(strMonth.lower() in ["ene"]):
        return 1
    elif(strMonth.lower() in ["feb"]):
        return 2
    elif(strMonth.lower() in ["mar"]):
        return 3
    elif(strMonth.lower() in ["abr"]):
        return 4
    elif(strMonth.lower() in ["may"]):
        return 5
    elif(strMonth.lower() in ["jun"]):
        return 6
    elif(strMonth.lower() in ["jul"]):
        return 7
    elif(strMonth.lower() in ["ago"]):
        return 8
    elif(strMonth.lower() in ["sep"]):
        return 9
    elif(strMonth.lower() in ["oct"]):
        return 10
    elif(strMonth.lower() in ["nov"]):
        return 11
    elif(strMonth.lower() in ["dic"]):
        return 12

def toDatetime(dateStr):
    # Date string example-> ma. dic. 31 23:50:11 2019
    _, month,t_year = list(map(str.strip, dateStr.split('.')))
    day, t, year = t_year.split(' ') 
    month = getMonthInt(month)
    dateStr = f"{year}-{month}-{day} {t}"
    return pd.to_datetime(dateStr, format="%Y-%m-%d %X")
result = toDatetime("ma. dic. 31 23:50:11 2019")
print(result)
type(result)

2019-12-31 23:50:11

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
allData['DATE-TIME'] = allData['DATE-TIME'].apply(toDatetime)
allData.head(2)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE-TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,2020-01-01 03:05:16
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,2020-01-01 03:04:51

In [11]:
allData['DATE'] = pd.to_datetime(allData['DATE-TIME'], format="%Y-%m-%d").dt.date
allData['TIME'] = pd.to_datetime(allData['DATE-TIME']).dt.time
allData.sort_values(by=["DATE"], inplace=True, ascending=True)

In [12]:
allData.drop('DATE-TIME', axis=1, inplace=True)

In [13]:
allData.head(2)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42

In [14]:
allData.groupby('RAT').count()

,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
RAT,,,,,,,,,,,,
2G,1457,1457,1456,1457,1457,1457,1457,1457,0,1457,1457,1457
3G,2071,2071,1969,2071,2071,2071,2071,2071,0,2071,2071,2071
4G,99,99,99,0,0,99,99,99,0,99,99,99

In [15]:
allData.groupby('IMEI').count()

,RAT,OPERATOR,CHANNEL,IMSI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
IMEI,,,,,,,,,,,,
1.037300e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.099701e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.122300e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.138700e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.138800e+13,1,1,1,1,1,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8.699710e+14,2,2,2,2,2,2,2,2,0,2,2,2
8.699710e+14,3,3,3,2,3,3,3,3,0,3,3,3
8.699710e+14,1,1,1,1,1,1,1,1,0,1,1,1
8.699720e+14,1,1,1,1,1,1,1,1,0,1,1,1
9.900058e+14,1,1,1,1,1,1,1,1,0,1,1,1

In [16]:
allData.groupby('IMEI').count()['IMSI']

IMEI
1.037300e+13    1
1.099701e+13    1
1.122300e+13    1
1.138700e+13    1
1.138800e+13    1
               ..
8.699710e+14    2
8.699710e+14    2
8.699710e+14    1
8.699720e+14    1
9.900058e+14    1
Name: IMSI, Length: 2260, dtype: int64

In [17]:
allData.groupby('IMEI').count()['IMSI'].sort_values(ascending=False).head(20).plot.bar()

In [18]:
def tiempoAvanceFilter(df, valuesList):
    """ Filters the df by the values on the TA column"""
    return df[df['TA'].isin(valuesList)]
tiempoAvance(allData, [1,2,3,4,5,6])

NameError: name 'tiempoAvance' is not defined

In [0]:
def msPowerRangeFilter(df, fromN, toN):
    """ Filters the df in the column MS POWER with the given boundaries"""
    return df[df['MS POWER'].between(fromN, toN)]
msPower(allData, -100, 60)

In [0]:
def lastLacRangeFilter(df, fromN, toN):
    """ Filters the df in the column LAST LAC within the given boundaries"""
    return df[df['LAST LAC'].between(fromN, toN)]
lastLac(allData, -100, 60000)

In [0]:
def getHitsAmounForEmais(df, n=None):
    """ Gets the frecuency of each IMEI in the df and returns a n length series"""
    # return df.groupby('IMEI')['HITS'].sum().sort_values(ascending=False).head(n=n)
    return df.groupby('IMEI')['HITS'].transform(
        lambda x: sum(x)
    )
getFrecuencyForEmais(allData)

In [0]:
def getUniqueNameIdColumn(df):
    """ Updates the NAME with a unique incremental KEY"""
    fn = lambda row: row['IMEI'].astype(str).apply(hash) + row['IMEI'].astype(str).apply(hash)
    return df.groupby('IMEI').apply(fn)
# Como asignarlo para que no de warning y SI lo pegue 
# df = df.assign(c=col.values) # assign values to column 'c'
getUniqueNameIdColumn(allData)

In [0]:
def filterByRat(df, rats = []):
    """ Returns a df with the seleccted rats """
    groupedRats = df.groupby('RAT')
    ratDfs = [groupedRats.get_group(gn) for gn in rats]
    return pd.concat(ratDfs)
filterByRat(allData, ["3G"]).shape

In [28]:
allData['IMEI'].count()

3528

In [51]:
allData.index

Int64Index([724, 292, 291, 290, 289, 288, 287, 286, 285, 284,
            ...
            670, 650, 651, 666,   8, 653,  52, 660,  41,  33],
           dtype='int64', length=3627)

In [52]:
allData.head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42
291,3G,EC-Claro(América Móvil)-01,587,7.400002e+14,3.517591e+14,A4C47315,-105.0,3,15251,NaN,1,2019-12-31,17:00:04
290,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.557471e+14,FC483124,-66.0,3,50134,NaN,1,2019-12-31,17:00:40
289,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.648850e+14,DA430032,-43.0,3,50134,NaN,1,2019-12-31,17:00:43

In [73]:
headerList = tuple(allData.columns.values)

for i,row in enumerate(allData.itertuples()):
    print("Raw raow ",row)
    r = []
    for i,columnName in enumerate(headerList):
        r.append(row._asdict()[str(columnName)])
    print(r)
    print("------------------------------------------------------------------------------\n\n")

(2020, 1, 2), datetime.time(11, 46, 25)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=96, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010175855617.0, IMEI=351713102242099.0, TMSI=0, MS_POWER=-100.0, TA=3, LAST_LAC=65534, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 29, 26))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010175855617.0, 351713102242099.0, 0, -100.0, 3, 65534, nan, 1, datetime.date(2020, 1, 2), datetime.time(18, 29, 26)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=103, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010174662611.0, IMEI=867259020236992.0, TMSI='FB4E02C0', MS_POWER=-102.0, TA=3, LAST_LAC=50134, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 20, 59))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010174662611.0, 867259020236992.0, 'FB4E02C0', -102.0, 3, 50134, nan, 1, datetime.date(2020, 1, 2), datetime.time(18, 20, 59)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=104, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010180174857.0, IMEI=357716085807444.0, TMSI=0, MS_POWER=-59.0, TA=3, LAST_LAC=65534, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 20, 53))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010180174857.0, 357716085807444.0, 0, -59.0, 3, 65534, nan, 1, datetime.date(2020, 1, 2), datetime.time(18, 20, 53)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=101, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010177429117.0, IMEI=866128043621905.0, TMSI='1F19BC6B', MS_POWER=-94.0, TA=3, LAST_LAC=32769, NAME=nan, HITS=3, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(20, 20, 34))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010177429117.0, 866128043621905.0, '1F19BC6B', -94.0, 3, 32769, nan, 3, datetime.date(2020, 1, 2), datetime.time(20, 20, 34)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=100, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010175838876.0, IMEI=357716086731742.0, TMSI='4E1A6543', MS_POWER=-99.0, TA=3, LAST_LAC=50404, NAME=nan, HITS=9, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(22, 14, 29))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010175838876.0, 357716086731742.0, '4E1A6543', -99.0, 3, 50404, nan, 9, datetime.date(2020, 1, 2), datetime.time(22, 14, 29)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=106, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010178257854.0, IMEI=861586044319248.0, TMSI='9F1DD10B', MS_POWER=-103.0, TA=3, LAST_LAC=50134, NAME=nan, HITS=2, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 46, 12))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010178257854.0, 861586044319248.0, '9F1DD10B', -103.0, 3, 50134, nan, 2, datetime.date(2020, 1, 2), datetime.time(18, 46, 12)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=99, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010180577878.0, IMEI=865842030180581.0, TMSI='E441C094', MS_POWER=-99.0, TA=3, LAST_LAC=50134, NAME=nan, HITS=5, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(21, 53, 18))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010180577878.0, 865842030180581.0, 'E441C094', -99.0, 3, 50134, nan, 5, datetime.date(2020, 1, 2), datetime.time(21, 53, 18)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=105, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010181033525.0, IMEI=351758104278989.0, TMSI='070DD1E9', MS_POWER=-99.0, TA=2, LAST_LAC=50134, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 19, 52))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010181033525.0, 351758104278989.0, '070DD1E9', -99.0, 2, 50134, nan, 1, datetime.date(2020, 1, 2), datetime.time(18, 19, 52)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=107, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010180577876.0, IMEI=351704110995174.0, TMSI=0, MS_POWER=-99.0, TA=3, LAST_LAC=65534, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 19, 10))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010180577876.0, 351704110995174.0, 0, -99.0, 3, 65534, nan, 1, datetime.date(2020, 1, 2), datetime.time(18, 19, 10)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=108, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010179393545.0, IMEI=352242102738780.0, TMSI='FE444033', MS_POWER=-101.0, TA=3, LAST_LAC=50404, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 19, 9))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010179393545.0, 352242102738780.0, 'FE444033', -101.0, 3, 50404, nan, 1, datetime.date(2020, 1, 2), datetime.time(18, 19, 9)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=98, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010181033040.0, IMEI=867265039160867.0, TMSI='6E1660AE', MS_POWER=-100.0, TA=3, LAST_LAC=32769, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(18, 27, 56))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010181033040.0, 867265039160867.0, '6E1660AE', -100.0, 3, 32769, nan, 1, datetime.date(2020, 1, 2), datetime.time(18, 27, 56)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=97, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010158461736.0, IMEI=868219041679462.0, TMSI='FB424019', MS_POWER=-94.0, TA=3, LAST_LAC=32769, NAME=nan, HITS=2, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(19, 33, 17))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010158461736.0, 868219041679462.0, 'FB424019', -94.0, 3, 32769, nan, 2, datetime.date(2020, 1, 2), datetime.time(19, 33, 17)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=109, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010178573351.0, IMEI=356709076403175.0, TMSI='E940E982', MS_POWER=-94.0, TA=2, LAST_LAC=50134, NAME=nan, HITS=2, DATE=datetime.date(2020, 1, 2), TIME=datetime.time(19, 54, 53))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010178573351.0, 356709076403175.0, 'E940E982', -94.0, 2, 50134, nan, 2, datetime.date(2020, 1, 2), datetime.time(19, 54, 53)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=677, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000121755568.0, IMEI=351553059503782.0, TMSI='F4300022', MS_POWER=-107.0, TA=3, LAST_LAC=15251, NAME=nan, HITS=6, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 25, 8))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000121755568.0, 351553059503782.0, 'F4300022', -107.0, 3, 15251, nan, 6, datetime.date(2020, 1, 3), datetime.time(0, 25, 8)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=6, RAT='2G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=136, IMSI=740010165765121.0, IMEI=355544065010652.0, TMSI='FFFFFFFF', MS_POWER=-63.0, TA=0, LAST_LAC=65534, NAME=nan, HITS=4, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(4, 7, 17))
['2G', 'EC-Claro(América Móvil)-01', 136, 740010165765121.0, 355544065010652.0, 'FFFFFFFF', -63.0, 0, 65534, nan, 4, datetime.date(2020, 1, 3), datetime.time(4, 7, 17)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=699, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740010181033521.0, IMEI=867903032651926.0, TMSI=0, MS_POWER=-104.0, TA=3, LAST_LAC=32769, NAME=nan, HITS=4, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 4, 31))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740010181033521.0, 867903032651926.0, 0, -104.0, 3, 32769, nan, 4, datetime.date(2020, 1, 3), datetime.time(0, 4, 31)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=680, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000117684942.0, IMEI=867903032860162.0, TMSI=0, MS_POWER=-104.0, TA=2, LAST_LAC=15251, NAME=nan, HITS=6, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 19, 20))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000117684942.0, 867903032860162.0, 0, -104.0, 2, 15251, nan, 6, datetime.date(2020, 1, 3), datetime.time(0, 19, 20)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=701, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740005116264255.0, IMEI=867265034721580.0, TMSI='F12A6063', MS_POWER=-108.0, TA=3, LAST_LAC=32768, NAME=nan, HITS=2, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(1, 13, 35))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740005116264255.0, 867265034721580.0, 'F12A6063', -108.0, 3, 32768, nan, 2, datetime.date(2020, 1, 3), datetime.time(1, 13, 35)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=96, RAT='2G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=136, IMSI=740010173404126.0, IMEI=355859108255571.0, TMSI='2809ED09', MS_POWER=-63.0, TA=0, LAST_LAC=10228, NAME=nan, HITS=3, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(4, 11, 9))
['2G', 'EC-Claro(América Móvil)-01', 136, 740010173404126.0, 355859108255571.0, '2809ED09', -63.0, 0, 10228, nan, 3, datetime.date(2020, 1, 3), datetime.time(4, 11, 9)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=266, RAT='2G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=245, IMSI=740020120357822.0, IMEI=353306027604440.0, TMSI='FFFFFFFF', MS_POWER=-61.0, TA=0, LAST_LAC=65534, NAME=nan, HITS=457, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(2, 41, 33))
['2G', 'EC-Movistar(Telefónica)-00', 245, 740020120357822.0, 353306027604440.0, 'FFFFFFFF', -61.0, 0, 65534, nan, 457, datetime.date(2020, 1, 3), datetime.time(2, 41, 33)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=109, RAT='2G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=136, IMSI=740010177429078.0, IMEI=358191103783176.0, TMSI='FFFFFFFF', MS_POWER=-63.0, TA=0, LAST_LAC=10228, NAME=nan, HITS=2, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(4, 5, 58))
['2G', 'EC-Claro(América Móvil)-01', 136, 740010177429078.0, 358191103783176.0, 'FFFFFFFF', -63.0, 0, 10228, nan, 2, datetime.date(2020, 1, 3), datetime.time(4, 5, 58)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=708, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000221361683.0, IMEI=359041089036629.0, TMSI='431A31ED', MS_POWER=-108.0, TA=2, LAST_LAC=32768, NAME=nan, HITS=3, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 48, 3))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000221361683.0, 359041089036629.0, '431A31ED', -108.0, 2, 32768, nan, 3, datetime.date(2020, 1, 3), datetime.time(0, 48, 3)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=102, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010175855615.0, IMEI=866861046806657.0, TMSI='E7424AC0', MS_POWER=-94.0, TA=3, LAST_LAC=32769, NAME=nan, HITS=5, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 0, 49))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010175855615.0, 866861046806657.0, 'E7424AC0', -94.0, 3, 32769, nan, 5, datetime.date(2020, 1, 3), datetime.time(0, 0, 49)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=95, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010177429205.0, IMEI=866264040042405.0, TMSI='EF4EC02C', MS_POWER=-96.0, TA=3, LAST_LAC=32769, NAME=nan, HITS=16, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 4, 56))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010177429205.0, 866264040042405.0, 'EF4EC02C', -96.0, 3, 32769, nan, 16, datetime.date(2020, 1, 3), datetime.time(0, 4, 56)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=709, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000120974860.0, IMEI=867961040629755.0, TMSI='D9290D42', MS_POWER=-108.0, TA=2, LAST_LAC=40202, NAME=nan, HITS=7, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 58, 19))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000120974860.0, 867961040629755.0, 'D9290D42', -108.0, 2, 40202, nan, 7, datetime.date(2020, 1, 3), datetime.time(0, 58, 19)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=710, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000121842609.0, IMEI=358099102061751.0, TMSI='C7290972', MS_POWER=-108.0, TA=2, LAST_LAC=40202, NAME=nan, HITS=8, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 22, 13))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000121842609.0, 358099102061751.0, 'C7290972', -108.0, 2, 40202, nan, 8, datetime.date(2020, 1, 3), datetime.time(0, 22, 13)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=61, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010171063479.0, IMEI=355612088351559.0, TMSI='D44F7813', MS_POWER=-95.0, TA=3, LAST_LAC=50134, NAME=nan, HITS=5, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 5))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010171063479.0, 355612088351559.0, 'D44F7813', -95.0, 3, 50134, nan, 5, datetime.date(2020, 1, 3), datetime.time(0, 5)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=713, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000221937843.0, IMEI=867129031848582.0, TMSI='E92A188F', MS_POWER=-110.0, TA=2, LAST_LAC=15251, NAME=nan, HITS=9, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(1, 43, 44))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000221937843.0, 867129031848582.0, 'E92A188F', -110.0, 2, 15251, nan, 9, datetime.date(2020, 1, 3), datetime.time(1, 43, 44)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=670, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740010181261321.0, IMEI=866224035441962.0, TMSI='FC4748D1', MS_POWER=-108.0, TA=3, LAST_LAC=50134, NAME=nan, HITS=2, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(1, 14, 8))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740010181261321.0, 866224035441962.0, 'FC4748D1', -108.0, 3, 50134, nan, 2, datetime.date(2020, 1, 3), datetime.time(1, 14, 8)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=650, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000121573947.0, IMEI=867903032522150.0, TMSI='DA300ECC', MS_POWER=-107.0, TA=2, LAST_LAC=32768, NAME=nan, HITS=2, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(2, 21, 24))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000121573947.0, 867903032522150.0, 'DA300ECC', -107.0, 2, 32768, nan, 2, datetime.date(2020, 1, 3), datetime.time(2, 21, 24)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=651, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740010181237129.0, IMEI=354728084970779.0, TMSI='FC48309C', MS_POWER=-108.0, TA=2, LAST_LAC=50134, NAME=nan, HITS=1, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 59, 24))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740010181237129.0, 354728084970779.0, 'FC48309C', -108.0, 2, 50134, nan, 1, datetime.date(2020, 1, 3), datetime.time(0, 59, 24)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=666, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000222510480.0, IMEI=865011041438376.0, TMSI='EC29CF58', MS_POWER=-99.0, TA=3, LAST_LAC=40202, NAME=nan, HITS=3, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(1, 52, 2))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000222510480.0, 865011041438376.0, 'EC29CF58', -99.0, 3, 40202, nan, 3, datetime.date(2020, 1, 3), datetime.time(1, 52, 2)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=8, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010170344050.0, IMEI=869428040023171.0, TMSI='D64179B3', MS_POWER=-98.0, TA=2, LAST_LAC=32769, NAME=nan, HITS=4, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 15, 59))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010170344050.0, 869428040023171.0, 'D64179B3', -98.0, 2, 32769, nan, 4, datetime.date(2020, 1, 3), datetime.time(0, 15, 59)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=653, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000118919732.0, IMEI=352686100005081.0, TMSI='EA026FB9', MS_POWER=-109.0, TA=3, LAST_LAC=32768, NAME=nan, HITS=3, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 19, 34))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000118919732.0, 352686100005081.0, 'EA026FB9', -109.0, 3, 32768, nan, 3, datetime.date(2020, 1, 3), datetime.time(0, 19, 34)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=52, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010174937055.0, IMEI=354614080047640.0, TMSI='CF40806C', MS_POWER=-95.0, TA=3, LAST_LAC=50404, NAME=nan, HITS=5, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 4, 58))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010174937055.0, 354614080047640.0, 'CF40806C', -95.0, 3, 50404, nan, 5, datetime.date(2020, 1, 3), datetime.time(0, 4, 58)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=660, RAT='3G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=512, IMSI=740000221937788.0, IMEI=869823037821597.0, TMSI='C51AD745', MS_POWER=-108.0, TA=2, LAST_LAC=32768, NAME=nan, HITS=3, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 26, 59))
['3G', 'EC-Movistar(Telefónica)-00', 512, 740000221937788.0, 869823037821597.0, 'C51AD745', -108.0, 2, 32768, nan, 3, datetime.date(2020, 1, 3), datetime.time(0, 26, 59)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=41, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010177429195.0, IMEI=869823034198387.0, TMSI='DA434B7C', MS_POWER=-92.0, TA=3, LAST_LAC=32769, NAME=nan, HITS=6, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 7, 18))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010177429195.0, 869823034198387.0, 'DA434B7C', -92.0, 3, 32769, nan, 6, datetime.date(2020, 1, 3), datetime.time(0, 7, 18)]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=33, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=612, IMSI=740010180121229.0, IMEI=353641100017957.0, TMSI='FFFFFFFF', MS_POWER=-96.0, TA=3, LAST_LAC=50134, NAME=nan, HITS=4, DATE=datetime.date(2020, 1, 3), TIME=datetime.time(0, 11, 24))
['3G', 'EC-Claro(América Móvil)-01', 612, 740010180121229.0, 353641100017957.0, 'FFFFFFFF', -96.0, 3, 50134, nan, 4, datetime.date(2020, 1, 3), datetime.time(0, 11, 24)]
------------------------------------------------------------------------------

In [35]:
list(allData.columns.values)

['RAT',
 'OPERATOR',
 'CHANNEL',
 'IMSI',
 'IMEI',
 'TMSI',
 'MS POWER',
 'TA',
 'LAST LAC',
 'NAME',
 'HITS',
 'DATE',
 'TIME']

In [145]:
# Prueba
import numpy as np
pivotTable = pd.pivot_table(allData, values="HITS", index=['IMEI', 'IMSI'], aggfunc=np.sum)
pivotTable

                           HITS
IMEI         IMSI
1.037300e+13 7.400102e+14     1
1.099701e+13 7.400101e+14     1
1.122300e+13 7.400102e+14     1
1.138700e+13 7.400101e+14     1
1.138800e+13 7.400101e+14     1
1.167201e+13 7.400102e+14     1
             7.400202e+14     1
1.176901e+13 7.400102e+14     1
1.185101e+13 7.400101e+14     1
1.196900e+13 7.400002e+14     1
1.201701e+13 7.400202e+14     1
1.240101e+13 7.400102e+14     1
1.245600e+13 7.400102e+14     1
1.245601e+13 7.400101e+14     1
1.250400e+13 7.400202e+14     1
1.282101e+13 7.400102e+14     1
1.285901e+13 7.400102e+14     1
1.323600e+13 7.400102e+14     1
1.334400e+13 7.400102e+14     1
1.340100e+13 7.400102e+14     1
1.353701e+13 7.400102e+14     1
1.385201e+13 7.400102e+14     1
1.396101e+13 7.400052e+14     2
             7.400102e+14     1
             7.400102e+14     1
             7.400101e+14     2
             7.400101e+14     2
             7.400202e+14     1
             7.400052e+14     1
             7.400102e+14     1
...                         ...
8.691700e+14 7.400202e+14     1
8.692310e+14 7.400101e+14     1
8.693960e+14 7.400001e+14     1
             7.400102e+14     6
             7.400102e+14     1
             7.400001e+14     1
8.694280e+14 7.400102e+14    24
8.694560e+14 7.400052e+14     1
8.696220e+14 7.400102e+14     1
8.697940e+14 7.400001e+14     1
8.698100e+14 7.400102e+14     1
8.698230e+14 7.400202e+14     2
             7.400102e+14     2
             7.400102e+14     1
             7.400102e+14    19
             7.400052e+14     1
             7.400002e+14    15
             7.400002e+14    38
             7.400001e+14    11
8.698240e+14 7.400052e+14     3
             7.400001e+14     1
8.699690e+14 7.400001e+14     1
             7.400001e+14     1
8.699710e+14 7.400102e+14    10
             7.400102e+14     5
             7.400102e+14     3
             7.400102e+14     3
             7.400102e+14     1
8.699720e+14 7.400051e+14     4
9.900058e+14 7.400052e+14     1

[2263 rows x 1 columns]

In [147]:
def getDatosIncosistentes(df, cols=[]):
    return df[df[cols[0]].isnull() | df[cols[1]].isnull()]
getDatosIncosistentes(allData, ['IMEI', 'IMSI'])

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
24,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104522.00,2,9616,NaN,3,2019-12-31,12:07:42
23,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-107257.00,2,9616,NaN,1,2019-12-31,08:07:22
22,4G,EC-Movistar(Telefónica)-00,700,7.400051e+14,NaN,NaN,-109835.00,2,9616,NaN,1,2019-12-31,08:07:31
21,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-115382.00,2,-1,NaN,1,2019-12-31,08:07:56
20,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-110147.00,2,9616,NaN,3,2019-12-31,12:20:57
19,4G,EC-Movistar(Telefónica)-00,700,7.400051e+14,NaN,NaN,-110069.00,2,9616,NaN,1,2019-12-31,08:24:48
18,4G,EC-Movistar(Telefónica)-00,700,7.400052e+14,NaN,NaN,-112178.00,2,9616,NaN,1,2019-12-31,09:25:04
17,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-115069.00,2,-1,NaN,1,2019-12-31,10:09:22
16,4G,EC-Movistar(Telefónica)-00,700,7.400102e+14,NaN,NaN,-115147.00,2,-1,NaN,1,2019-12-31,10:50:09
15,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-112491.00,2,-1,NaN,1,2019-12-31,11:11:05
14,4G,EC-Movistar(Telefónica)-00,700,7.400052e+14,NaN,NaN,-112413.00,2,9616,NaN,1,2019-12-31,12:04:39
13,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-111866.00,2,9616,NaN,1,2019-12-31,12:04:57
12,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-101397.00,2,60134,NaN,2,2019-12-31,16:22:20
11,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-107647.00,2,60134,NaN,1,2019-12-31,16:14:07
10,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-103975.00,2,60134,NaN,2,2019-12-31,16:14:36
9,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-111319.00,2,60134,NaN,1,2019-12-31,16:14:15
8,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-113975.00,2,60134,NaN,1,2019-12-31,16:14:16
7,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-111.71,2,60134,NaN,1,2019-12-31,16:14:33
6,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-112.10,2,60134,NaN,1,2019-12-31,16:14:43
5,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110147.00,2,60134,NaN,1,2019-12-31,16:16:04
4,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-104444.00,2,60134,NaN,1,2019-12-31,16:20:54
3,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-115069.00,2,-1,NaN,1,2019-12-31,16:27:43
2,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110616.00,2,60134,NaN,1,2019-12-31,16:28:54
1,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-975691.00,2,60134,NaN,1,2019-12-31,16:29:28
0,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-108819.00,2,60134,NaN,1,2019-12-31,16:30:03
91,3G,EC-Claro(América Móvil)-01,612,NaN,3.583801e+14,0,-95.00,2,32769,NaN,1,2019-12-31,19:48:03
142,3G,EC-Claro(América Móvil)-01,4387,NaN,3.552161e+14,0,-52.00,2,32769,NaN,1,2019-12-31,18:30:47
143,3G,EC-Claro(América Móvil)-01,587,NaN,3.552161e+14,0,-105.00,2,32769,NaN,1,2019-12-31,18:30:39
152,3G,EC-Claro(América Móvil)-01,587,NaN,8.636970e+14,0,-107.00,2,32769,NaN,1,2019-12-31,18:24:00
153,3G,EC-Claro(América Móvil)-01,4387,NaN,8.671290e+14,0,-97.00,3,32768,NaN,1,2019-12-31,18:23:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,4G,EC-Claro(América Móvil)-01,2250,7.400002e+14,NaN,NaN,-107882.00,2,9616,NaN,1,2020-01-02,08:50:20
54,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-109132.00,2,60134,NaN,2,2020-01-02,09:29:47
45,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-113975.00,2,60134,NaN,9,2020-01-02,09:57:25
46,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-106944.00,2,60134,NaN,1,2020-01-02,08:20:10
47,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-114444.00,2,60134,NaN,1,2020-01-02,08:17:57
48,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-953034.00,2,60134,NaN,10,2020-01-02,09:00:21
49,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-120694.00,2,60134,NaN,1,2020-01-02,08:11:52
43,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-102725.00,2,60134,NaN,1,2020-01-02,08:50:08
32,4G,EC-Claro(América Móvil)-01,925,7.400102e+14,NaN,NaN,-101475.00,2,60136,NaN,25,2020-01-02,16:40:40
44,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-114835.00,2,60136,NaN,9,2020-01-02,10:00:33
31,4G,EC-Claro(América Móvil)-01,925,7.400102e+14,NaN,NaN,-101319.00,2,-1,NaN,34,2020-01-02,16:35:21
40,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-111.71,2,60134,NaN,1,2020-01-02,09:12:32
56,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-937409.00,2,-1,NaN,3,2020-01-02,09:03:44
57,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110694.00,2,60134,NaN,3,2020-01-02,09:28:30
58,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-109.21,2,60134,NaN,4,2020-01-02,08:52:17
60,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-108038.00,2,60134,NaN,1,2020-01-02,08:00:31
61,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-112491.00,2,60134,NaN,1,2020-01-02,08:00:27
63,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-100.85,2,-1,NaN,5,2020-01-02,11:44:59
52,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-116397.00,2,60134,NaN,4,2020-01-02,08:39:47
64,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104678.00,2,-1,NaN,1,2020-01-02,10:18:30
59,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-107882.00,2,60134,NaN,1,2020-01-02,08:01:59
66,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-102022.00,2,9616,NaN,5,2020-01-02,13:48:47
67,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-103116.00,2,9616,NaN,15,2020-01-02,13:49:05
68,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-117413.00,2,9616,NaN,1,2020-01-02,10:05:28
69,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-104757.00,2,-1,NaN,11,2020-01-02,13:48:39
70,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-116319.00,2,9616,NaN,1,2020-01-02,10:05:15
71,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-110616.00,2,9616,NaN,3,2020-01-02,13:49:10
53,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-114991.00,2,60134,NaN,1,2020-01-02,08:05:33
65,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-106241.00,2,9616,NaN,6,2020-01-02,12:07:11
51,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-105303.00,2,60134,NaN,1,2020-01-02,08:07:37

In [148]:
def obtenerHitsEmai(df):
    return  df.groupby('IMEI')['HITS'].transform(lambda x: sum(x)
)
obtenerHitsEmai(allData)

ValueError: Length mismatch: Expected axis has 3528 elements, new values have 3627 elements

In [17]:
def getUniqueColumnValues(df, column):
    return df[column].unique()
getUniqueRows(allData,'OPERATOR').tolist()

['EC-Claro(América Móvil)-01', 'EC-Movistar(Telefónica)-00']