Info Links: https://code.visualstudio.com/docs/python/jupyter-support  
https://stackoverflow.com/questions/35226904/convert-spanish-date-in-string-format  
https://stackabuse.com/how-to-format-dates-in-python/  
Dateparser docs:https://dateparser.readthedocs.io/en/latest/  

Threads:https://stackoverflow.com/questions/34386561/pyqt-not-responding  
Thread and return:https://stackoverflow.com/questions/6893968/how-to-get-the-return-value-from-a-thread-in-python 


Tuto threads:http://www.laurentluce.com/posts/python-threads-synchronization-locks-rlocks-semaphores-conditions-events-and-queues/  
Threads PyQT5: https://stackoverflow.com/questions/42357656/pyqt5-timers-cannot-be-started-from-another-thread-error-when-changing-size-of


RESPUESTA FINAL: https://stackoverflow.com/questions/42357656/pyqt5-timers-cannot-be-started-from-another-thread-error-when-changing-size-of


Problema cierre de ventanas por que los recolecta pa basura: https://www.reddit.com/r/Python/comments/7cml65/pyqt_second_screen_closes_immediately/

## Imports the necessary libraries

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Gets all the files from the dir
baseDir = r"C:\\Users\\robin\\Google Drive\\WORK\\ExcelsStuff\\files"
fileNames = []
for filename in os.listdir(baseDir):
    if(filename.startswith('~$')):
        continue
    fileNames.append(filename)
fileNames

['Dic312019.xlsx', 'Ene022020.xlsx']

## Reads each excel file and saves all the sheets into a list with the specified columns

In [3]:

dfs = []
COLS = ["RAT","OPERATOR","CHANNEL","IMEI","IMSI","TMSI",
        "MS POWER","TA","LAST LAC","NAME","HITS","DATE-TIME"]
for filename in fileNames:
    # dfs.append(pd.read_excel(f"{baseDir}\\{filename}"))
    temd_dfs = [pd.read_excel(f"{baseDir}\\{filename}", sheet_name=0, usecols=COLS), #2G
                pd.read_excel(f"{baseDir}\\{filename}", sheet_name=1, usecols=COLS), #3G
                pd.read_excel(f"{baseDir}\\{filename}", sheet_name=2, usecols=COLS)] #4G
    dfs.append(temd_dfs)
len(dfs)

2

In [4]:
dfs[0][0].head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE-TIME
0,2G,EC-Claro(América Móvil)-01,144,740020170411491,359459077681588,FFFFFFFF,-61,0,65534,NaN,1,mi. ene. 1 03:05:16 2020
1,2G,EC-Claro(América Móvil)-01,144,740010164127419,357815081319451,FFFFFFFF,-62,0,65534,NaN,1,mi. ene. 1 03:04:51 2020
2,2G,EC-Claro(América Móvil)-01,144,740010177429066,863697045358438,151D1A53,-66,0,50134,NaN,1,mi. ene. 1 02:55:06 2020
3,2G,EC-Claro(América Móvil)-01,144,740010120727910,357084081525001,97155956,-62,0,10228,NaN,1,mi. ene. 1 02:54:44 2020
4,2G,EC-Claro(América Móvil)-01,144,740010180400328,358099104079272,FFFFFFFF,-64,0,65534,NaN,1,mi. ene. 1 02:37:15 2020

In [8]:
# The dfs[0] means the excel file at index 0 with the 3 pages as dataframes
len(dfs[0])
# The fisrt index is a list of dataframes that has everydataframe

3

In [5]:
len([df for dflist in dfs for df in dflist])

6

In [6]:
allData = pd.concat([df for dflist in dfs for df in dflist])
allData.info() # 3633-6 filas sin contar los headers

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3627 entries, 0 to 73
Data columns (total 12 columns):
RAT          3627 non-null object
OPERATOR     3627 non-null object
CHANNEL      3627 non-null int64
IMSI         3524 non-null float64
IMEI         3528 non-null float64
TMSI         3528 non-null object
MS POWER     3627 non-null float64
TA           3627 non-null int64
LAST LAC     3627 non-null int64
NAME         0 non-null float64
HITS         3627 non-null int64
DATE-TIME    3627 non-null object
dtypes: float64(4), int64(4), object(4)
memory usage: 368.4+ KB

In [65]:
# Renaming columns
cols = allData.columns
cols = cols.map(lambda x: x.replace(' ', '_').strip() if isinstance(x, (str, )) else x)
allData.columns = cols

In [66]:
allData.head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42
291,3G,EC-Claro(América Móvil)-01,587,7.400002e+14,3.517591e+14,A4C47315,-105.0,3,15251,NaN,1,2019-12-31,17:00:04
290,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.557471e+14,FC483124,-66.0,3,50134,NaN,1,2019-12-31,17:00:40
289,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.648850e+14,DA430032,-43.0,3,50134,NaN,1,2019-12-31,17:00:43

### Returns a datetime object from a string representation

In [9]:
def getMonthInt(strMonth):
    if(strMonth.lower() in ["ene"]):
        return 1
    elif(strMonth.lower() in ["feb"]):
        return 2
    elif(strMonth.lower() in ["mar"]):
        return 3
    elif(strMonth.lower() in ["abr"]):
        return 4
    elif(strMonth.lower() in ["may"]):
        return 5
    elif(strMonth.lower() in ["jun"]):
        return 6
    elif(strMonth.lower() in ["jul"]):
        return 7
    elif(strMonth.lower() in ["ago"]):
        return 8
    elif(strMonth.lower() in ["sep"]):
        return 9
    elif(strMonth.lower() in ["oct"]):
        return 10
    elif(strMonth.lower() in ["nov"]):
        return 11
    elif(strMonth.lower() in ["dic"]):
        return 12

def toDatetime(dateStr):
    # Date string example-> ma. dic. 31 23:50:11 2019
    _, month,t_year = list(map(str.strip, dateStr.split('.')))
    day, t, year = t_year.split(' ') 
    month = getMonthInt(month)
    dateStr = f"{year}-{month}-{day} {t}"
    return pd.to_datetime(dateStr, format="%Y-%m-%d %X")
result = toDatetime("ma. dic. 31 23:50:11 2019")
print(result)
type(result)

2019-12-31 23:50:11

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
allData['DATE-TIME'] = allData['DATE-TIME'].apply(toDatetime)
allData.head(2)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE-TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,2020-01-01 03:05:16
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,2020-01-01 03:04:51

In [11]:
allData['DATE'] = pd.to_datetime(allData['DATE-TIME'], format="%Y-%m-%d").dt.date
allData['TIME'] = pd.to_datetime(allData['DATE-TIME']).dt.time
allData.sort_values(by=["DATE"], inplace=True, ascending=True)

In [12]:
allData.drop('DATE-TIME', axis=1, inplace=True)

In [13]:
allData.head(2)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42

In [14]:
allData.groupby('RAT').count()

,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
RAT,,,,,,,,,,,,
2G,1457,1457,1456,1457,1457,1457,1457,1457,0,1457,1457,1457
3G,2071,2071,1969,2071,2071,2071,2071,2071,0,2071,2071,2071
4G,99,99,99,0,0,99,99,99,0,99,99,99

In [15]:
allData.groupby('IMEI').count()

,RAT,OPERATOR,CHANNEL,IMSI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
IMEI,,,,,,,,,,,,
1.037300e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.099701e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.122300e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.138700e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.138800e+13,1,1,1,1,1,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8.699710e+14,2,2,2,2,2,2,2,2,0,2,2,2
8.699710e+14,3,3,3,2,3,3,3,3,0,3,3,3
8.699710e+14,1,1,1,1,1,1,1,1,0,1,1,1
8.699720e+14,1,1,1,1,1,1,1,1,0,1,1,1
9.900058e+14,1,1,1,1,1,1,1,1,0,1,1,1

In [16]:
allData.groupby('IMEI').count()['IMSI']

IMEI
1.037300e+13    1
1.099701e+13    1
1.122300e+13    1
1.138700e+13    1
1.138800e+13    1
               ..
8.699710e+14    2
8.699710e+14    2
8.699710e+14    1
8.699720e+14    1
9.900058e+14    1
Name: IMSI, Length: 2260, dtype: int64

In [17]:
allData.groupby('IMEI').count()['IMSI'].sort_values(ascending=False).head(20).plot.bar()

In [18]:
def tiempoAvanceFilter(df, valuesList):
    """ Filters the df by the values on the TA column"""
    return df[df['TA'].isin(valuesList)]
tiempoAvance(allData, [1,2,3,4,5,6])

NameError: name 'tiempoAvance' is not defined

In [0]:
def msPowerRangeFilter(df, fromN, toN):
    """ Filters the df in the column MS POWER with the given boundaries"""
    return df[df['MS POWER'].between(fromN, toN)]
msPower(allData, -100, 60)

In [0]:
def lastLacRangeFilter(df, fromN, toN):
    """ Filters the df in the column LAST LAC within the given boundaries"""
    return df[df['LAST LAC'].between(fromN, toN)]
lastLac(allData, -100, 60000)

In [0]:
def getHitsAmounForEmais(df, n=None):
    """ Gets the frecuency of each IMEI in the df and returns a n length series"""
    # return df.groupby('IMEI')['HITS'].sum().sort_values(ascending=False).head(n=n)
    return df.groupby('IMEI')['HITS'].transform(
        lambda x: sum(x)
    )
getFrecuencyForEmais(allData)

In [0]:
def getUniqueNameIdColumn(df):
    """ Updates the NAME with a unique incremental KEY"""
    fn = lambda row: row['IMEI'].astype(str).apply(hash) + row['IMEI'].astype(str).apply(hash)
    return df.groupby('IMEI').apply(fn)
# Como asignarlo para que no de warning y SI lo pegue 
# df = df.assign(c=col.values) # assign values to column 'c'
getUniqueNameIdColumn(allData)

In [0]:
def filterByRat(df, rats = []):
    """ Returns a df with the seleccted rats """
    groupedRats = df.groupby('RAT')
    ratDfs = [groupedRats.get_group(gn) for gn in rats]
    return pd.concat(ratDfs)
filterByRat(allData, ["3G"]).shape

In [28]:
allData['IMEI'].count()

3528

In [51]:
allData.index

Int64Index([724, 292, 291, 290, 289, 288, 287, 286, 285, 284,
            ...
            670, 650, 651, 666,   8, 653,  52, 660,  41,  33],
           dtype='int64', length=3627)

In [52]:
allData.head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42
291,3G,EC-Claro(América Móvil)-01,587,7.400002e+14,3.517591e+14,A4C47315,-105.0,3,15251,NaN,1,2019-12-31,17:00:04
290,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.557471e+14,FC483124,-66.0,3,50134,NaN,1,2019-12-31,17:00:40
289,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.648850e+14,DA430032,-43.0,3,50134,NaN,1,2019-12-31,17:00:43

In [63]:
headerList = tuple(allData.columns.values)

for i,row in enumerate(allData.itertuples()):
    print(row)
    r = []
    for i,columnName in enumerate(headerList):
        r.append(row._asdict()[str(columnName)])
        print(r[i])
    print(r)
    print("------------------------------------------------------------------------------\n\n")

Pandas(Index=724, RAT='3G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=4387, IMSI=740010179601340.0, IMEI=861250040773912.0, TMSI='BA129B0E', _7=-94.0, TA=3, _9=50134, NAME=nan, HITS=1, DATE=datetime.date(2019, 12, 31), TIME=datetime.time(15, 24, 18))
3G
EC-Claro(América Móvil)-01
4387
740010179601340.0
861250040773912.0
BA129B0E

KeyError: 'MS POWER'

In [35]:
list(allData.columns.values)

['RAT',
 'OPERATOR',
 'CHANNEL',
 'IMSI',
 'IMEI',
 'TMSI',
 'MS POWER',
 'TA',
 'LAST LAC',
 'NAME',
 'HITS',
 'DATE',
 'TIME']

In [145]:
# Prueba
import numpy as np
pivotTable = pd.pivot_table(allData, values="HITS", index=['IMEI', 'IMSI'], aggfunc=np.sum)
pivotTable

                           HITS
IMEI         IMSI
1.037300e+13 7.400102e+14     1
1.099701e+13 7.400101e+14     1
1.122300e+13 7.400102e+14     1
1.138700e+13 7.400101e+14     1
1.138800e+13 7.400101e+14     1
1.167201e+13 7.400102e+14     1
             7.400202e+14     1
1.176901e+13 7.400102e+14     1
1.185101e+13 7.400101e+14     1
1.196900e+13 7.400002e+14     1
1.201701e+13 7.400202e+14     1
1.240101e+13 7.400102e+14     1
1.245600e+13 7.400102e+14     1
1.245601e+13 7.400101e+14     1
1.250400e+13 7.400202e+14     1
1.282101e+13 7.400102e+14     1
1.285901e+13 7.400102e+14     1
1.323600e+13 7.400102e+14     1
1.334400e+13 7.400102e+14     1
1.340100e+13 7.400102e+14     1
1.353701e+13 7.400102e+14     1
1.385201e+13 7.400102e+14     1
1.396101e+13 7.400052e+14     2
             7.400102e+14     1
             7.400102e+14     1
             7.400101e+14     2
             7.400101e+14     2
             7.400202e+14     1
             7.400052e+14     1
             7.400102e+14     1
...                         ...
8.691700e+14 7.400202e+14     1
8.692310e+14 7.400101e+14     1
8.693960e+14 7.400001e+14     1
             7.400102e+14     6
             7.400102e+14     1
             7.400001e+14     1
8.694280e+14 7.400102e+14    24
8.694560e+14 7.400052e+14     1
8.696220e+14 7.400102e+14     1
8.697940e+14 7.400001e+14     1
8.698100e+14 7.400102e+14     1
8.698230e+14 7.400202e+14     2
             7.400102e+14     2
             7.400102e+14     1
             7.400102e+14    19
             7.400052e+14     1
             7.400002e+14    15
             7.400002e+14    38
             7.400001e+14    11
8.698240e+14 7.400052e+14     3
             7.400001e+14     1
8.699690e+14 7.400001e+14     1
             7.400001e+14     1
8.699710e+14 7.400102e+14    10
             7.400102e+14     5
             7.400102e+14     3
             7.400102e+14     3
             7.400102e+14     1
8.699720e+14 7.400051e+14     4
9.900058e+14 7.400052e+14     1

[2263 rows x 1 columns]

In [147]:
def getDatosIncosistentes(df, cols=[]):
    return df[df[cols[0]].isnull() | df[cols[1]].isnull()]
getDatosIncosistentes(allData, ['IMEI', 'IMSI'])

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE,TIME
24,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104522.00,2,9616,NaN,3,2019-12-31,12:07:42
23,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-107257.00,2,9616,NaN,1,2019-12-31,08:07:22
22,4G,EC-Movistar(Telefónica)-00,700,7.400051e+14,NaN,NaN,-109835.00,2,9616,NaN,1,2019-12-31,08:07:31
21,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-115382.00,2,-1,NaN,1,2019-12-31,08:07:56
20,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-110147.00,2,9616,NaN,3,2019-12-31,12:20:57
19,4G,EC-Movistar(Telefónica)-00,700,7.400051e+14,NaN,NaN,-110069.00,2,9616,NaN,1,2019-12-31,08:24:48
18,4G,EC-Movistar(Telefónica)-00,700,7.400052e+14,NaN,NaN,-112178.00,2,9616,NaN,1,2019-12-31,09:25:04
17,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-115069.00,2,-1,NaN,1,2019-12-31,10:09:22
16,4G,EC-Movistar(Telefónica)-00,700,7.400102e+14,NaN,NaN,-115147.00,2,-1,NaN,1,2019-12-31,10:50:09
15,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-112491.00,2,-1,NaN,1,2019-12-31,11:11:05
14,4G,EC-Movistar(Telefónica)-00,700,7.400052e+14,NaN,NaN,-112413.00,2,9616,NaN,1,2019-12-31,12:04:39
13,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-111866.00,2,9616,NaN,1,2019-12-31,12:04:57
12,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-101397.00,2,60134,NaN,2,2019-12-31,16:22:20
11,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-107647.00,2,60134,NaN,1,2019-12-31,16:14:07
10,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-103975.00,2,60134,NaN,2,2019-12-31,16:14:36
9,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-111319.00,2,60134,NaN,1,2019-12-31,16:14:15
8,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-113975.00,2,60134,NaN,1,2019-12-31,16:14:16
7,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-111.71,2,60134,NaN,1,2019-12-31,16:14:33
6,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-112.10,2,60134,NaN,1,2019-12-31,16:14:43
5,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110147.00,2,60134,NaN,1,2019-12-31,16:16:04
4,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-104444.00,2,60134,NaN,1,2019-12-31,16:20:54
3,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-115069.00,2,-1,NaN,1,2019-12-31,16:27:43
2,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110616.00,2,60134,NaN,1,2019-12-31,16:28:54
1,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-975691.00,2,60134,NaN,1,2019-12-31,16:29:28
0,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-108819.00,2,60134,NaN,1,2019-12-31,16:30:03
91,3G,EC-Claro(América Móvil)-01,612,NaN,3.583801e+14,0,-95.00,2,32769,NaN,1,2019-12-31,19:48:03
142,3G,EC-Claro(América Móvil)-01,4387,NaN,3.552161e+14,0,-52.00,2,32769,NaN,1,2019-12-31,18:30:47
143,3G,EC-Claro(América Móvil)-01,587,NaN,3.552161e+14,0,-105.00,2,32769,NaN,1,2019-12-31,18:30:39
152,3G,EC-Claro(América Móvil)-01,587,NaN,8.636970e+14,0,-107.00,2,32769,NaN,1,2019-12-31,18:24:00
153,3G,EC-Claro(América Móvil)-01,4387,NaN,8.671290e+14,0,-97.00,3,32768,NaN,1,2019-12-31,18:23:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,4G,EC-Claro(América Móvil)-01,2250,7.400002e+14,NaN,NaN,-107882.00,2,9616,NaN,1,2020-01-02,08:50:20
54,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-109132.00,2,60134,NaN,2,2020-01-02,09:29:47
45,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-113975.00,2,60134,NaN,9,2020-01-02,09:57:25
46,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-106944.00,2,60134,NaN,1,2020-01-02,08:20:10
47,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-114444.00,2,60134,NaN,1,2020-01-02,08:17:57
48,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-953034.00,2,60134,NaN,10,2020-01-02,09:00:21
49,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-120694.00,2,60134,NaN,1,2020-01-02,08:11:52
43,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-102725.00,2,60134,NaN,1,2020-01-02,08:50:08
32,4G,EC-Claro(América Móvil)-01,925,7.400102e+14,NaN,NaN,-101475.00,2,60136,NaN,25,2020-01-02,16:40:40
44,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-114835.00,2,60136,NaN,9,2020-01-02,10:00:33
31,4G,EC-Claro(América Móvil)-01,925,7.400102e+14,NaN,NaN,-101319.00,2,-1,NaN,34,2020-01-02,16:35:21
40,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-111.71,2,60134,NaN,1,2020-01-02,09:12:32
56,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-937409.00,2,-1,NaN,3,2020-01-02,09:03:44
57,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110694.00,2,60134,NaN,3,2020-01-02,09:28:30
58,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-109.21,2,60134,NaN,4,2020-01-02,08:52:17
60,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-108038.00,2,60134,NaN,1,2020-01-02,08:00:31
61,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-112491.00,2,60134,NaN,1,2020-01-02,08:00:27
63,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-100.85,2,-1,NaN,5,2020-01-02,11:44:59
52,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-116397.00,2,60134,NaN,4,2020-01-02,08:39:47
64,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104678.00,2,-1,NaN,1,2020-01-02,10:18:30
59,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-107882.00,2,60134,NaN,1,2020-01-02,08:01:59
66,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-102022.00,2,9616,NaN,5,2020-01-02,13:48:47
67,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-103116.00,2,9616,NaN,15,2020-01-02,13:49:05
68,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-117413.00,2,9616,NaN,1,2020-01-02,10:05:28
69,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-104757.00,2,-1,NaN,11,2020-01-02,13:48:39
70,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-116319.00,2,9616,NaN,1,2020-01-02,10:05:15
71,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-110616.00,2,9616,NaN,3,2020-01-02,13:49:10
53,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-114991.00,2,60134,NaN,1,2020-01-02,08:05:33
65,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-106241.00,2,9616,NaN,6,2020-01-02,12:07:11
51,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-105303.00,2,60134,NaN,1,2020-01-02,08:07:37

In [148]:
def obtenerHitsEmai(df):
    return  df.groupby('IMEI')['HITS'].transform(lambda x: sum(x)
)
obtenerHitsEmai(allData)

ValueError: Length mismatch: Expected axis has 3528 elements, new values have 3627 elements

In [17]:
def getUniqueColumnValues(df, column):
    return df[column].unique()
getUniqueRows(allData,'OPERATOR').tolist()

['EC-Claro(América Móvil)-01', 'EC-Movistar(Telefónica)-00']