PANDAS GROUP BY: https://towardsdatascience.com/pandas-groupby-aggregate-transform-filter-c95ba3444bbb


Info Links: https://code.visualstudio.com/docs/python/jupyter-support  
https://stackoverflow.com/questions/35226904/convert-spanish-date-in-string-format  
https://stackabuse.com/how-to-format-dates-in-python/  
Dateparser docs:https://dateparser.readthedocs.io/en/latest/  

Threads:https://stackoverflow.com/questions/34386561/pyqt-not-responding  
Thread and return:https://stackoverflow.com/questions/6893968/how-to-get-the-return-value-from-a-thread-in-python 


Tuto threads:http://www.laurentluce.com/posts/python-threads-synchronization-locks-rlocks-semaphores-conditions-events-and-queues/  
Threads PyQT5: https://stackoverflow.com/questions/42357656/pyqt5-timers-cannot-be-started-from-another-thread-error-when-changing-size-of


RESPUESTA FINAL: https://stackoverflow.com/questions/42357656/pyqt5-timers-cannot-be-started-from-another-thread-error-when-changing-size-of


Problema cierre de ventanas por que los recolecta pa basura: https://www.reddit.com/r/Python/comments/7cml65/pyqt_second_screen_closes_immediately/

PyQT COMPORTAMIENTO:https://doc.qt.io/archives/qt-4.8/qapplication.html#lastWindowClosed

## Imports the necessary libraries

In [12]:
import os
import pandas as pd
import numpy as np

In [13]:
# Gets all the files from the dir
baseDir = r"C:\\Users\\robin\\Google Drive\\WORK\\ExcelsStuff\\files"
fileNames = []
for filename in os.listdir(baseDir):
    if(filename.startswith('~$')):
        continue
    fileNames.append(filename)
fileNames

['Dic312019.xlsx', 'Ene022020.xlsx']

## Reads each excel file and saves all the sheets into a list with the specified columns

In [14]:

dfs = []
COLS = ["RAT","OPERATOR","CHANNEL","IMEI","IMSI","TMSI",
        "MS POWER","TA","LAST LAC","NAME","HITS","DATE-TIME"]
for filename in fileNames:
    # dfs.append(pd.read_excel(f"{baseDir}\\{filename}"))
    temd_dfs = [pd.read_excel(f"{baseDir}\\{filename}", sheet_name=0, usecols=COLS), #2G
                pd.read_excel(f"{baseDir}\\{filename}", sheet_name=1, usecols=COLS), #3G
                pd.read_excel(f"{baseDir}\\{filename}", sheet_name=2, usecols=COLS)] #4G
    dfs.append(temd_dfs)
len(dfs)

2

In [15]:
dfs[0][0].head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS POWER,TA,LAST LAC,NAME,HITS,DATE-TIME
0,2G,EC-Claro(América Móvil)-01,144,740020170411491,359459077681588,FFFFFFFF,-61,0,65534,NaN,1,mi. ene. 1 03:05:16 2020
1,2G,EC-Claro(América Móvil)-01,144,740010164127419,357815081319451,FFFFFFFF,-62,0,65534,NaN,1,mi. ene. 1 03:04:51 2020
2,2G,EC-Claro(América Móvil)-01,144,740010177429066,863697045358438,151D1A53,-66,0,50134,NaN,1,mi. ene. 1 02:55:06 2020
3,2G,EC-Claro(América Móvil)-01,144,740010120727910,357084081525001,97155956,-62,0,10228,NaN,1,mi. ene. 1 02:54:44 2020
4,2G,EC-Claro(América Móvil)-01,144,740010180400328,358099104079272,FFFFFFFF,-64,0,65534,NaN,1,mi. ene. 1 02:37:15 2020

In [16]:
# The dfs[0] means the excel file at index 0 with the 3 pages as dataframes
len(dfs[0])
# The fisrt index is a list of dataframes that has everydataframe

3

In [17]:
len([df for dflist in dfs for df in dflist])

6

In [18]:
allData = pd.concat([df for dflist in dfs for df in dflist])
allData.info() # 3633-6 filas sin contar los headers

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3627 entries, 0 to 73
Data columns (total 12 columns):
RAT          3627 non-null object
OPERATOR     3627 non-null object
CHANNEL      3627 non-null int64
IMSI         3524 non-null float64
IMEI         3528 non-null float64
TMSI         3528 non-null object
MS POWER     3627 non-null float64
TA           3627 non-null int64
LAST LAC     3627 non-null int64
NAME         0 non-null float64
HITS         3627 non-null int64
DATE-TIME    3627 non-null object
dtypes: float64(4), int64(4), object(4)
memory usage: 368.4+ KB

In [19]:
# Renaming columns
cols = allData.columns
cols = cols.map(lambda x: x.strip().replace(' ', '_').strip() if isinstance(x, (str, )) else x)
allData.columns = cols

In [20]:
allData.head()

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,mi. ene. 1 03:05:16 2020
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,mi. ene. 1 03:04:51 2020
2,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,8.636970e+14,151D1A53,-66.0,0,50134,NaN,1,mi. ene. 1 02:55:06 2020
3,2G,EC-Claro(América Móvil)-01,144,7.400101e+14,3.570841e+14,97155956,-62.0,0,10228,NaN,1,mi. ene. 1 02:54:44 2020
4,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.580991e+14,FFFFFFFF,-64.0,0,65534,NaN,1,mi. ene. 1 02:37:15 2020

### Returns a datetime object from a string representation

In [21]:
def getMonthInt(strMonth):
    if(strMonth.lower() in ["ene"]):
        return 1
    elif(strMonth.lower() in ["feb"]):
        return 2
    elif(strMonth.lower() in ["mar"]):
        return 3
    elif(strMonth.lower() in ["abr"]):
        return 4
    elif(strMonth.lower() in ["may"]):
        return 5
    elif(strMonth.lower() in ["jun"]):
        return 6
    elif(strMonth.lower() in ["jul"]):
        return 7
    elif(strMonth.lower() in ["ago"]):
        return 8
    elif(strMonth.lower() in ["sep"]):
        return 9
    elif(strMonth.lower() in ["oct"]):
        return 10
    elif(strMonth.lower() in ["nov"]):
        return 11
    elif(strMonth.lower() in ["dic"]):
        return 12

def toDatetime(dateStr):
    # Date string example-> ma. dic. 31 23:50:11 2019
    _, month,t_year = list(map(str.strip, dateStr.split('.')))
    day, t, year = t_year.split(' ') 
    month = getMonthInt(month)
    dateStr = f"{year}-{month}-{day} {t}"
    return pd.to_datetime(dateStr, format="%Y-%m-%d %X")
result = toDatetime("ma. dic. 31 23:50:11 2019")
print(result)
type(result)

2019-12-31 23:50:11

pandas._libs.tslibs.timestamps.Timestamp

In [22]:
allData['DATE_TIME'] = allData['DATE-TIME'].apply(toDatetime)
allData.head(2)
allData.drop('DATE-TIME', axis=1, inplace=True)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME,DATE_TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,mi. ene. 1 03:05:16 2020,2020-01-01 03:05:16
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,mi. ene. 1 03:04:51 2020,2020-01-01 03:04:51

In [54]:
# allData['DATE'] = pd.to_datetime(allData['DATE-TIME'], format="%Y-%m-%d").dt.date
# allData['TIME'] = pd.to_datetime(allData['DATE-TIME']).dt.time
# allData.sort_values(by=["DATE"], inplace=True, ascending=True)

In [55]:
# allData.drop('DATE-TIME', axis=1, inplace=True)

In [56]:
allData.head(2)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME,DATE_TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,mi. ene. 1 03:05:16 2020,2020-01-01 03:05:16
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,mi. ene. 1 03:04:51 2020,2020-01-01 03:04:51

In [57]:
allData.groupby('RAT').count()

,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME,DATE_TIME
RAT,,,,,,,,,,,,
2G,1457,1457,1456,1457,1457,1457,1457,1457,0,1457,1457,1457
3G,2071,2071,1969,2071,2071,2071,2071,2071,0,2071,2071,2071
4G,99,99,99,0,0,99,99,99,0,99,99,99

In [16]:
allData.groupby('IMEI').count()

,RAT,OPERATOR,CHANNEL,IMSI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
IMEI,,,,,,,,,,,,
1.037300e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.099701e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.122300e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.138700e+13,1,1,1,1,1,1,1,1,0,1,1,1
1.138800e+13,1,1,1,1,1,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8.699710e+14,2,2,2,2,2,2,2,2,0,2,2,2
8.699710e+14,3,3,3,2,3,3,3,3,0,3,3,3
8.699710e+14,1,1,1,1,1,1,1,1,0,1,1,1
8.699720e+14,1,1,1,1,1,1,1,1,0,1,1,1
9.900058e+14,1,1,1,1,1,1,1,1,0,1,1,1

In [17]:
allData.groupby('IMEI').count()['IMSI']

IMEI
1.037300e+13    1
1.099701e+13    1
1.122300e+13    1
1.138700e+13    1
1.138800e+13    1
               ..
8.699710e+14    2
8.699710e+14    2
8.699710e+14    1
8.699720e+14    1
9.900058e+14    1
Name: IMSI, Length: 2260, dtype: int64

In [18]:
allData.groupby('IMEI').count()['IMSI'].sort_values(ascending=False).head(20).plot.bar()

In [79]:
def tiempoAvanceFilter(df, valuesList):
    """ Filters the df by the values on the TA column"""
    return df[df['TA'].isin(valuesList)]
tiempoAvanceFilter(allData, [1,2,3,4,5,6])

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME,DATE_TIME
0,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.546121e+14,F44BDA78,-93.0,3,50134,NaN,1,mi. ene. 1 01:41:41 2020,2020-01-01 01:41:41
1,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.587931e+14,F044798E,-94.0,3,50134,NaN,1,mi. ene. 1 00:39:43 2020,2020-01-01 00:39:43
2,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.526611e+14,F54AD920,-92.0,3,50134,NaN,1,mi. ene. 1 00:30:59 2020,2020-01-01 00:30:59
3,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.537711e+14,F041E2C0,-98.0,3,32769,NaN,3,mi. ene. 1 01:42:15 2020,2020-01-01 01:42:15
4,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.571401e+14,C5433C71,-92.0,3,50134,NaN,1,mi. ene. 1 00:24:49 2020,2020-01-01 00:24:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-104757.0,2,-1,NaN,11,ju. ene. 2 13:48:39 2020,2020-01-02 13:48:39
70,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-116319.0,2,9616,NaN,1,ju. ene. 2 10:05:15 2020,2020-01-02 10:05:15
71,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-110616.0,2,9616,NaN,3,ju. ene. 2 13:49:10 2020,2020-01-02 13:49:10
72,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104366.0,2,9616,NaN,1,ju. ene. 2 10:04:13 2020,2020-01-02 10:04:13
73,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-112.1,2,9616,NaN,7,ju. ene. 2 11:46:25 2020,2020-01-02 11:46:25

In [0]:
def msPowerRangeFilter(df, fromN, toN):
    """ Filters the df in the column MS POWER with the given boundaries"""
    return df[df['MS POWER'].between(fromN, toN)]
msPower(allData, -100, 60)

In [0]:
def lastLacRangeFilter(df, fromN, toN):
    """ Filters the df in the column LAST LAC within the given boundaries"""
    return df[df['LAST LAC'].between(fromN, toN)]
lastLac(allData, -100, 60000)

In [0]:
def getHitsAmounForEmais(df, n=None):
    """ Gets the frecuency of each IMEI in the df and returns a n length series"""
    # return df.groupby('IMEI')['HITS'].sum().sort_values(ascending=False).head(n=n)
    return df.groupby('IMEI')['HITS'].transform(
        lambda x: sum(x)
    )
getFrecuencyForEmais(allData)

In [78]:
import hashlib

def getUniqueNameIdColumn(df: pd.DataFrame):
    """ Updates the NAME with a unique KEY FOR A imei group"""
    fn = lambda x: hashlib.md5(str(x).encode()).hexdigest()
    return df.groupby('IMEI')['IMEI'].transform(fn)
# Como asignarlo para que no de warning y SI lo pegue 
# df = df.assign(c=col.values) # assign values to column 'c'
df1 = getUniqueNameIdColumn(allData.loc[allData['IMEI'].notnull()])
df = allData.loc[allData['IMEI'].notnull()]
df.assign(test = df1)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE_TIME,test
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,2020-01-01 03:05:16,f2c32df94581d7c7ad60fd4d581b4531
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,2020-01-01 03:04:51,2af54eb33eb0049a80f82ee93826cee0
2,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,8.636970e+14,151D1A53,-66.0,0,50134,NaN,1,2020-01-01 02:55:06,634f626b4d8d9122684165bac3b2dc16
3,2G,EC-Claro(América Móvil)-01,144,7.400101e+14,3.570841e+14,97155956,-62.0,0,10228,NaN,1,2020-01-01 02:54:44,24c7f4fe956e54719b3deea7ff7878ba
4,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.580991e+14,FFFFFFFF,-64.0,0,65534,NaN,1,2020-01-01 02:37:15,332c8325cdd994425399b26ed08a2561
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,3G,EC-Movistar(Telefónica)-00,537,7.400001e+14,8.658420e+14,D51AC792,-102.0,2,15251,NaN,1,2020-01-02 10:04:21,4112d868c0e36bb5be4587c83d651260
977,3G,EC-Movistar(Telefónica)-00,4412,7.400051e+14,3.517041e+14,2AAC703D,-98.0,3,15251,NaN,3,2020-01-02 11:43:21,ed705ff8f2facf9f5b46afff6fc8e2bb
978,3G,EC-Movistar(Telefónica)-00,537,7.400102e+14,3.562691e+14,FE4571E7,-104.0,3,50134,NaN,1,2020-01-02 10:04:17,ceba4ffad4a2a0af7e3ac4ac3209993e
979,3G,EC-Movistar(Telefónica)-00,4412,7.400001e+14,8.636970e+14,0,-100.0,3,40202,NaN,2,2020-01-02 13:21:07,fc49fed725f3c318207562df44b9ae10
980,3G,EC-Movistar(Telefónica)-00,4412,7.400002e+14,3.588181e+14,FC32BFE3,-98.0,3,40202,NaN,1,2020-01-02 10:04:11,117c80cfedc56d384702c4293aea14a7

In [73]:
df

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE_TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,2020-01-01 03:05:16
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,2020-01-01 03:04:51
2,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,8.636970e+14,151D1A53,-66.0,0,50134,NaN,1,2020-01-01 02:55:06
3,2G,EC-Claro(América Móvil)-01,144,7.400101e+14,3.570841e+14,97155956,-62.0,0,10228,NaN,1,2020-01-01 02:54:44
4,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.580991e+14,FFFFFFFF,-64.0,0,65534,NaN,1,2020-01-01 02:37:15
...,...,...,...,...,...,...,...,...,...,...,...,...
976,3G,EC-Movistar(Telefónica)-00,537,7.400001e+14,8.658420e+14,D51AC792,-102.0,2,15251,NaN,1,2020-01-02 10:04:21
977,3G,EC-Movistar(Telefónica)-00,4412,7.400051e+14,3.517041e+14,2AAC703D,-98.0,3,15251,NaN,3,2020-01-02 11:43:21
978,3G,EC-Movistar(Telefónica)-00,537,7.400102e+14,3.562691e+14,FE4571E7,-104.0,3,50134,NaN,1,2020-01-02 10:04:17
979,3G,EC-Movistar(Telefónica)-00,4412,7.400001e+14,8.636970e+14,0,-100.0,3,40202,NaN,2,2020-01-02 13:21:07
980,3G,EC-Movistar(Telefónica)-00,4412,7.400002e+14,3.588181e+14,FC32BFE3,-98.0,3,40202,NaN,1,2020-01-02 10:04:11

In [83]:
# Inplace replacement
import hashlib

def getUniqueNameIdColumn(dfEmaisOk: pd.DataFrame):
    """ Updates the NAME with a unique KEY for a EMAI groups and returns that new DataFrame"""
    fn = lambda x: hashlib.md5(str(x).encode()).hexdigest()[0:10]
    df1 = dfEmaisOk.groupby('IMEI')['IMEI'].transform(fn)
    return dfEmaisOk.assign(NAME=df1)
# Como asignarlo para que no de warning y SI lo pegue 
# df = df.assign(c=col.values) # assign values to column 'c'
df1 = getUniqueNameIdColumn(allData.loc[allData['IMEI'].notnull()])
df1

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE_TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,f2c32df945,1,2020-01-01 03:05:16
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,2af54eb33e,1,2020-01-01 03:04:51
2,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,8.636970e+14,151D1A53,-66.0,0,50134,634f626b4d,1,2020-01-01 02:55:06
3,2G,EC-Claro(América Móvil)-01,144,7.400101e+14,3.570841e+14,97155956,-62.0,0,10228,24c7f4fe95,1,2020-01-01 02:54:44
4,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.580991e+14,FFFFFFFF,-64.0,0,65534,332c8325cd,1,2020-01-01 02:37:15
...,...,...,...,...,...,...,...,...,...,...,...,...
976,3G,EC-Movistar(Telefónica)-00,537,7.400001e+14,8.658420e+14,D51AC792,-102.0,2,15251,4112d868c0,1,2020-01-02 10:04:21
977,3G,EC-Movistar(Telefónica)-00,4412,7.400051e+14,3.517041e+14,2AAC703D,-98.0,3,15251,ed705ff8f2,3,2020-01-02 11:43:21
978,3G,EC-Movistar(Telefónica)-00,537,7.400102e+14,3.562691e+14,FE4571E7,-104.0,3,50134,ceba4ffad4,1,2020-01-02 10:04:17
979,3G,EC-Movistar(Telefónica)-00,4412,7.400001e+14,8.636970e+14,0,-100.0,3,40202,fc49fed725,2,2020-01-02 13:21:07
980,3G,EC-Movistar(Telefónica)-00,4412,7.400002e+14,3.588181e+14,FC32BFE3,-98.0,3,40202,117c80cfed,1,2020-01-02 10:04:11

In [43]:
def filterByRat(df, rats = []):
    """ Returns a df with the seleccted rats """
    groupedRats = df.groupby('RAT')
    ratDfs = [groupedRats.get_group(gn) for gn in rats]
    return pd.concat(ratDfs)
filterByRat(allData, ["3G"])

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42
291,3G,EC-Claro(América Móvil)-01,587,7.400002e+14,3.517591e+14,A4C47315,-105.0,3,15251,NaN,1,2019-12-31,17:00:04
290,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.557471e+14,FC483124,-66.0,3,50134,NaN,1,2019-12-31,17:00:40
289,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.648850e+14,DA430032,-43.0,3,50134,NaN,1,2019-12-31,17:00:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,3G,EC-Movistar(Telefónica)-00,512,7.400001e+14,3.526861e+14,EA026FB9,-109.0,3,32768,NaN,3,2020-01-03,00:19:34
52,3G,EC-Claro(América Móvil)-01,612,7.400102e+14,3.546141e+14,CF40806C,-95.0,3,50404,NaN,5,2020-01-03,00:04:58
660,3G,EC-Movistar(Telefónica)-00,512,7.400002e+14,8.698230e+14,C51AD745,-108.0,2,32768,NaN,3,2020-01-03,00:26:59
41,3G,EC-Claro(América Móvil)-01,612,7.400102e+14,8.698230e+14,DA434B7C,-92.0,3,32769,NaN,6,2020-01-03,00:07:18
33,3G,EC-Claro(América Móvil)-01,612,7.400102e+14,3.536411e+14,FFFFFFFF,-96.0,3,50134,NaN,4,2020-01-03,00:11:24

In [45]:
def filterDfByColumnValues(df, column: str, columnValues: list):
    """
    Groups the df by the column parameters and gets the groups in the columnValues list
    """
    groupedColumn = df.groupby(column)
    dfs = [groupedColumn.get_group(gn) for gn in columnValues]
    return pd.concat(dfs)

In [0]:
allData['IMEI'].count()

In [27]:
allData.head(2)
allData.drop('DATE-TIME', axis=1,inplace=True)

In [28]:
headerList = tuple(allData.columns.values)
headerList

('RAT',
 'OPERATOR',
 'CHANNEL',
 'IMSI',
 'IMEI',
 'TMSI',
 'MS_POWER',
 'TA',
 'LAST_LAC',
 'NAME',
 'HITS',
 'DATE_TIME')

In [29]:

for i,row in enumerate(allData.itertuples()):
    print("Raw raow ",row)
    r = []
    for i,columnName in enumerate(headerList):
        r.append(row._asdict()[str(columnName)])
    print(r)
    print("------------------------------------------------------------------------------\n\n")

, 1, Timestamp('2020-01-02 13:53:04')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=30, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=925, IMSI=740010173847666.0, IMEI=nan, TMSI=nan, MS_POWER=-102.96, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 13:52:59'))
['4G', 'EC-Claro(América Móvil)-01', 925, 740010173847666.0, nan, nan, -102.96, 2, 60134, nan, 1, Timestamp('2020-01-02 13:52:59')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=31, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=925, IMSI=740010178573355.0, IMEI=nan, TMSI=nan, MS_POWER=-101319.0, TA=2, LAST_LAC=-1, NAME=nan, HITS=34, DATE_TIME=Timestamp('2020-01-02 16:35:21'))
['4G', 'EC-Claro(América Móvil)-01', 925, 740010178573355.0, nan, nan, -101319.0, 2, -1, nan, 34, Timestamp('2020-01-02 16:35:21')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=32, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=925, IMSI=740010180577878.0, IMEI=nan, TMSI=nan, MS_POWER=-101475.0, TA=2, LAST_LAC=60136, NAME=nan, HITS=25, DATE_TIME=Timestamp('2020-01-02 16:40:40'))
['4G', 'EC-Claro(América Móvil)-01', 925, 740010180577878.0, nan, nan, -101475.0, 2, 60136, nan, 25, Timestamp('2020-01-02 16:40:40')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=33, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=925, IMSI=740010180121225.0, IMEI=nan, TMSI=nan, MS_POWER=-107022.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=5, DATE_TIME=Timestamp('2020-01-02 17:55:28'))
['4G', 'EC-Claro(América Móvil)-01', 925, 740010180121225.0, nan, nan, -107022.0, 2, 60134, nan, 5, Timestamp('2020-01-02 17:55:28')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=34, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=925, IMSI=740010180545940.0, IMEI=nan, TMSI=nan, MS_POWER=-108819.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=3, DATE_TIME=Timestamp('2020-01-02 15:24:19'))
['4G', 'EC-Claro(América Móvil)-01', 925, 740010180545940.0, nan, nan, -108819.0, 2, 60134, nan, 3, Timestamp('2020-01-02 15:24:19')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=35, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=925, IMSI=740010177606124.0, IMEI=nan, TMSI=nan, MS_POWER=-104757.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=11, DATE_TIME=Timestamp('2020-01-02 17:39:31'))
['4G', 'EC-Claro(América Móvil)-01', 925, 740010177606124.0, nan, nan, -104757.0, 2, 60134, nan, 11, Timestamp('2020-01-02 17:39:31')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=36, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177429079.0, IMEI=nan, TMSI=nan, MS_POWER=-108194.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 09:57:20'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177429079.0, nan, nan, -108194.0, 2, 60134, nan, 1, Timestamp('2020-01-02 09:57:20')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=37, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177606135.0, IMEI=nan, TMSI=nan, MS_POWER=-972566.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=4, DATE_TIME=Timestamp('2020-01-02 09:58:22'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177606135.0, nan, nan, -972566.0, 2, 60134, nan, 4, Timestamp('2020-01-02 09:58:22')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=38, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740000122117777.0, IMEI=nan, TMSI=nan, MS_POWER=-988191.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 09:32:09'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740000122117777.0, nan, nan, -988191.0, 2, 9616, nan, 1, Timestamp('2020-01-02 09:32:09')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=39, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010181246638.0, IMEI=nan, TMSI=nan, MS_POWER=-116475.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 09:16:49'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010181246638.0, nan, nan, -116475.0, 2, 60134, nan, 1, Timestamp('2020-01-02 09:16:49')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=40, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010170726100.0, IMEI=nan, TMSI=nan, MS_POWER=-111.71, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 09:12:32'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010170726100.0, nan, nan, -111.71, 2, 60134, nan, 1, Timestamp('2020-01-02 09:12:32')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=41, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010160667409.0, IMEI=nan, TMSI=nan, MS_POWER=-107022.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:54:19'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010160667409.0, nan, nan, -107022.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:54:19')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=42, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740000221937843.0, IMEI=nan, TMSI=nan, MS_POWER=-107882.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:50:20'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740000221937843.0, nan, nan, -107882.0, 2, 9616, nan, 1, Timestamp('2020-01-02 08:50:20')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=43, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010181033525.0, IMEI=nan, TMSI=nan, MS_POWER=-102725.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:50:08'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010181033525.0, nan, nan, -102725.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:50:08')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=44, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177606108.0, IMEI=nan, TMSI=nan, MS_POWER=-114835.0, TA=2, LAST_LAC=60136, NAME=nan, HITS=9, DATE_TIME=Timestamp('2020-01-02 10:00:33'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177606108.0, nan, nan, -114835.0, 2, 60136, nan, 9, Timestamp('2020-01-02 10:00:33')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=45, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177429117.0, IMEI=nan, TMSI=nan, MS_POWER=-113975.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=9, DATE_TIME=Timestamp('2020-01-02 09:57:25'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177429117.0, nan, nan, -113975.0, 2, 60134, nan, 9, Timestamp('2020-01-02 09:57:25')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=46, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177429066.0, IMEI=nan, TMSI=nan, MS_POWER=-106944.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:20:10'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177429066.0, nan, nan, -106944.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:20:10')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=47, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010183241589.0, IMEI=nan, TMSI=nan, MS_POWER=-114444.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:17:57'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010183241589.0, nan, nan, -114444.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:17:57')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=48, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010179474825.0, IMEI=nan, TMSI=nan, MS_POWER=-953034.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=10, DATE_TIME=Timestamp('2020-01-02 09:00:21'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010179474825.0, nan, nan, -953034.0, 2, 60134, nan, 10, Timestamp('2020-01-02 09:00:21')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=49, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010160373288.0, IMEI=nan, TMSI=nan, MS_POWER=-120694.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:11:52'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010160373288.0, nan, nan, -120694.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:11:52')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=50, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177598845.0, IMEI=nan, TMSI=nan, MS_POWER=-107725.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:07:48'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177598845.0, nan, nan, -107725.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:07:48')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=51, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177429078.0, IMEI=nan, TMSI=nan, MS_POWER=-105303.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:07:37'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177429078.0, nan, nan, -105303.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:07:37')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=52, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010175065850.0, IMEI=nan, TMSI=nan, MS_POWER=-116397.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=4, DATE_TIME=Timestamp('2020-01-02 08:39:47'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010175065850.0, nan, nan, -116397.0, 2, 60134, nan, 4, Timestamp('2020-01-02 08:39:47')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=53, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010180545940.0, IMEI=nan, TMSI=nan, MS_POWER=-114991.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:05:33'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010180545940.0, nan, nan, -114991.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:05:33')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=54, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010173348761.0, IMEI=nan, TMSI=nan, MS_POWER=-109132.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=2, DATE_TIME=Timestamp('2020-01-02 09:29:47'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010173348761.0, nan, nan, -109132.0, 2, 60134, nan, 2, Timestamp('2020-01-02 09:29:47')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=55, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010178573355.0, IMEI=nan, TMSI=nan, MS_POWER=-111163.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=2, DATE_TIME=Timestamp('2020-01-02 08:03:21'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010178573355.0, nan, nan, -111163.0, 2, 60134, nan, 2, Timestamp('2020-01-02 08:03:21')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=56, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177988734.0, IMEI=nan, TMSI=nan, MS_POWER=-937409.0, TA=2, LAST_LAC=-1, NAME=nan, HITS=3, DATE_TIME=Timestamp('2020-01-02 09:03:44'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177988734.0, nan, nan, -937409.0, 2, -1, nan, 3, Timestamp('2020-01-02 09:03:44')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=57, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010177429195.0, IMEI=nan, TMSI=nan, MS_POWER=-110694.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=3, DATE_TIME=Timestamp('2020-01-02 09:28:30'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010177429195.0, nan, nan, -110694.0, 2, 60134, nan, 3, Timestamp('2020-01-02 09:28:30')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=58, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010181107345.0, IMEI=nan, TMSI=nan, MS_POWER=-109.21, TA=2, LAST_LAC=60134, NAME=nan, HITS=4, DATE_TIME=Timestamp('2020-01-02 08:52:17'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010181107345.0, nan, nan, -109.21, 2, 60134, nan, 4, Timestamp('2020-01-02 08:52:17')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=59, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010181033530.0, IMEI=nan, TMSI=nan, MS_POWER=-107882.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:01:59'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010181033530.0, nan, nan, -107882.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:01:59')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=60, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010176827449.0, IMEI=nan, TMSI=nan, MS_POWER=-108038.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:00:31'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010176827449.0, nan, nan, -108038.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:00:31')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=61, RAT='4G', OPERATOR='EC-Claro(América Móvil)-01', CHANNEL=2250, IMSI=740010180121225.0, IMEI=nan, TMSI=nan, MS_POWER=-112491.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 08:00:27'))
['4G', 'EC-Claro(América Móvil)-01', 2250, 740010180121225.0, nan, nan, -112491.0, 2, 60134, nan, 1, Timestamp('2020-01-02 08:00:27')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=62, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740010181107345.0, IMEI=nan, TMSI=nan, MS_POWER=-109991.0, TA=2, LAST_LAC=60134, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 10:29:06'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740010181107345.0, nan, nan, -109991.0, 2, 60134, nan, 1, Timestamp('2020-01-02 10:29:06')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=63, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000221937792.0, IMEI=nan, TMSI=nan, MS_POWER=-100.85, TA=2, LAST_LAC=-1, NAME=nan, HITS=5, DATE_TIME=Timestamp('2020-01-02 11:44:59'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000221937792.0, nan, nan, -100.85, 2, -1, nan, 5, Timestamp('2020-01-02 11:44:59')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=64, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000120875882.0, IMEI=nan, TMSI=nan, MS_POWER=-104678.0, TA=2, LAST_LAC=-1, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 10:18:30'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000120875882.0, nan, nan, -104678.0, 2, -1, nan, 1, Timestamp('2020-01-02 10:18:30')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=65, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000120150524.0, IMEI=nan, TMSI=nan, MS_POWER=-106241.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=6, DATE_TIME=Timestamp('2020-01-02 12:07:11'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000120150524.0, nan, nan, -106241.0, 2, 9616, nan, 6, Timestamp('2020-01-02 12:07:11')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=66, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000222510480.0, IMEI=nan, TMSI=nan, MS_POWER=-102022.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=5, DATE_TIME=Timestamp('2020-01-02 13:48:47'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000222510480.0, nan, nan, -102022.0, 2, 9616, nan, 5, Timestamp('2020-01-02 13:48:47')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=67, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000121069805.0, IMEI=nan, TMSI=nan, MS_POWER=-103116.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=15, DATE_TIME=Timestamp('2020-01-02 13:49:05'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000121069805.0, nan, nan, -103116.0, 2, 9616, nan, 15, Timestamp('2020-01-02 13:49:05')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=68, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000221817575.0, IMEI=nan, TMSI=nan, MS_POWER=-117413.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 10:05:28'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000221817575.0, nan, nan, -117413.0, 2, 9616, nan, 1, Timestamp('2020-01-02 10:05:28')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=69, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000221937843.0, IMEI=nan, TMSI=nan, MS_POWER=-104757.0, TA=2, LAST_LAC=-1, NAME=nan, HITS=11, DATE_TIME=Timestamp('2020-01-02 13:48:39'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000221937843.0, nan, nan, -104757.0, 2, -1, nan, 11, Timestamp('2020-01-02 13:48:39')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=70, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000121722257.0, IMEI=nan, TMSI=nan, MS_POWER=-116319.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 10:05:15'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000121722257.0, nan, nan, -116319.0, 2, 9616, nan, 1, Timestamp('2020-01-02 10:05:15')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=71, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000121062009.0, IMEI=nan, TMSI=nan, MS_POWER=-110616.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=3, DATE_TIME=Timestamp('2020-01-02 13:49:10'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000121062009.0, nan, nan, -110616.0, 2, 9616, nan, 3, Timestamp('2020-01-02 13:49:10')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=72, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000122161989.0, IMEI=nan, TMSI=nan, MS_POWER=-104366.0, TA=2, LAST_LAC=9616, NAME=nan, HITS=1, DATE_TIME=Timestamp('2020-01-02 10:04:13'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000122161989.0, nan, nan, -104366.0, 2, 9616, nan, 1, Timestamp('2020-01-02 10:04:13')]
------------------------------------------------------------------------------


Raw raow  Pandas(Index=73, RAT='4G', OPERATOR='EC-Movistar(Telefónica)-00', CHANNEL=700, IMSI=740000122117777.0, IMEI=nan, TMSI=nan, MS_POWER=-112.1, TA=2, LAST_LAC=9616, NAME=nan, HITS=7, DATE_TIME=Timestamp('2020-01-02 11:46:25'))
['4G', 'EC-Movistar(Telefónica)-00', 700, 740000122117777.0, nan, nan, -112.1, 2, 9616, nan, 7, Timestamp('2020-01-02 11:46:25')]
------------------------------------------------------------------------------

In [35]:
list(allData.columns.values)

['RAT',
 'OPERATOR',
 'CHANNEL',
 'IMSI',
 'IMEI',
 'TMSI',
 'MS POWER',
 'TA',
 'LAST LAC',
 'NAME',
 'HITS',
 'DATE',
 'TIME']

In [145]:
# Prueba
import numpy as np
pivotTable = pd.pivot_table(allData, values="HITS", index=['IMEI', 'IMSI'], aggfunc=np.sum)
pivotTable

                           HITS
IMEI         IMSI
1.037300e+13 7.400102e+14     1
1.099701e+13 7.400101e+14     1
1.122300e+13 7.400102e+14     1
1.138700e+13 7.400101e+14     1
1.138800e+13 7.400101e+14     1
1.167201e+13 7.400102e+14     1
             7.400202e+14     1
1.176901e+13 7.400102e+14     1
1.185101e+13 7.400101e+14     1
1.196900e+13 7.400002e+14     1
1.201701e+13 7.400202e+14     1
1.240101e+13 7.400102e+14     1
1.245600e+13 7.400102e+14     1
1.245601e+13 7.400101e+14     1
1.250400e+13 7.400202e+14     1
1.282101e+13 7.400102e+14     1
1.285901e+13 7.400102e+14     1
1.323600e+13 7.400102e+14     1
1.334400e+13 7.400102e+14     1
1.340100e+13 7.400102e+14     1
1.353701e+13 7.400102e+14     1
1.385201e+13 7.400102e+14     1
1.396101e+13 7.400052e+14     2
             7.400102e+14     1
             7.400102e+14     1
             7.400101e+14     2
             7.400101e+14     2
             7.400202e+14     1
             7.400052e+14     1
             7.400102e+14     1
...                         ...
8.691700e+14 7.400202e+14     1
8.692310e+14 7.400101e+14     1
8.693960e+14 7.400001e+14     1
             7.400102e+14     6
             7.400102e+14     1
             7.400001e+14     1
8.694280e+14 7.400102e+14    24
8.694560e+14 7.400052e+14     1
8.696220e+14 7.400102e+14     1
8.697940e+14 7.400001e+14     1
8.698100e+14 7.400102e+14     1
8.698230e+14 7.400202e+14     2
             7.400102e+14     2
             7.400102e+14     1
             7.400102e+14    19
             7.400052e+14     1
             7.400002e+14    15
             7.400002e+14    38
             7.400001e+14    11
8.698240e+14 7.400052e+14     3
             7.400001e+14     1
8.699690e+14 7.400001e+14     1
             7.400001e+14     1
8.699710e+14 7.400102e+14    10
             7.400102e+14     5
             7.400102e+14     3
             7.400102e+14     3
             7.400102e+14     1
8.699720e+14 7.400051e+14     4
9.900058e+14 7.400052e+14     1

[2263 rows x 1 columns]

In [37]:
def getDatosIncosistentes(df, cols=[]):
    return df[df[cols[0]].isnull()]
getDatosIncosistentes(allData, ['IMEI',])

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
12,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-101397.00,2,60134,NaN,2,2019-12-31,16:22:20
6,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-112.10,2,60134,NaN,1,2019-12-31,16:14:43
7,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-111.71,2,60134,NaN,1,2019-12-31,16:14:33
8,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-113975.00,2,60134,NaN,1,2019-12-31,16:14:16
0,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-108819.00,2,60134,NaN,1,2019-12-31,16:30:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,4G,EC-Claro(América Móvil)-01,925,7.400102e+14,NaN,NaN,-113507.00,2,-1,NaN,1,2020-01-02,14:35:54
10,4G,EC-Claro(América Móvil)-01,925,7.400102e+14,NaN,NaN,-112.96,1,60134,NaN,1,2020-01-02,14:42:28
18,4G,EC-Claro(América Móvil)-01,925,7.400102e+14,NaN,NaN,-101553.00,2,60134,NaN,1,2020-01-02,14:04:15
72,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104366.00,2,9616,NaN,1,2020-01-02,10:04:13
73,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-112.10,2,9616,NaN,7,2020-01-02,11:46:25

In [30]:
def obtenerHitsEmai(df):
    return  df.groupby('IMEI')['HITS'].transform(lambda x: sum(x)
)
obtenerHitsEmai(allData)

ValueError: Length mismatch: Expected axis has 3528 elements, new values have 3627 elements

In [31]:
def getUniqueColumnValues(df, column):
    return df[column].unique()
getUniqueColumnValues(allData,'OPERATOR').tolist()

['EC-Claro(América Móvil)-01', 'EC-Movistar(Telefónica)-00']

In [34]:
allData.head(1).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 724 to 724
Data columns (total 13 columns):
RAT         1 non-null object
OPERATOR    1 non-null object
CHANNEL     1 non-null int64
IMSI        1 non-null float64
IMEI        1 non-null float64
TMSI        1 non-null object
MS_POWER    1 non-null float64
TA          1 non-null int64
LAST_LAC    1 non-null int64
NAME        0 non-null float64
HITS        1 non-null int64
DATE        1 non-null object
TIME        1 non-null object
dtypes: float64(4), int64(4), object(5)
memory usage: 112.0+ bytes

In [35]:
def filterDfByEmai(df, imei):
    return df[df['IMEI']==imei]
filterDfByEmai(allData, 868789022187230)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
294,2G,EC-Movistar(Telefónica)-00,245,2.140742e+14,8.687890e+14,FFFFFFFF,-65.0,0,15251,NaN,2,2020-01-02,12:33:35
5,2G,EC-Claro(América Móvil)-01,136,7.400102e+14,8.687890e+14,540C8DA9,-65.0,0,50134,NaN,1,2020-01-02,23:19:17
4,2G,EC-Claro(América Móvil)-01,136,7.400102e+14,8.687890e+14,870C5759,-66.0,0,10228,NaN,1,2020-01-02,23:20:18
3,2G,EC-Claro(América Móvil)-01,136,7.400102e+14,8.687890e+14,301038EE,-66.0,0,10228,NaN,1,2020-01-02,23:27:23
2,2G,EC-Claro(América Móvil)-01,136,7.400102e+14,8.687890e+14,9B0D58C1,-65.0,0,10228,NaN,1,2020-01-02,23:41:19
1,2G,EC-Claro(América Móvil)-01,136,7.400102e+14,8.687890e+14,36129C46,-64.0,0,10228,NaN,1,2020-01-02,23:47:29
0,2G,EC-Claro(América Móvil)-01,136,2.140742e+14,8.687890e+14,FFFFFFFF,-64.0,0,65534,NaN,1,2020-01-02,23:53:29

In [65]:
def getDatosIncosistentes(df: pd.DataFrame, cols=[]):
    return df[df[cols[0]].isnull()]
getDatosIncosistentes(allData, ['IMEI',])

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME,DATE_TIME
0,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-108819.0,2,60134,NaN,1,ma. dic. 31 16:30:03 2019,2019-12-31 16:30:03
1,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-975691.0,2,60134,NaN,1,ma. dic. 31 16:29:28 2019,2019-12-31 16:29:28
2,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110616.0,2,60134,NaN,1,ma. dic. 31 16:28:54 2019,2019-12-31 16:28:54
3,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-115069.0,2,-1,NaN,1,ma. dic. 31 16:27:43 2019,2019-12-31 16:27:43
4,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-104444.0,2,60134,NaN,1,ma. dic. 31 16:20:54 2019,2019-12-31 16:20:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-104757.0,2,-1,NaN,11,ju. ene. 2 13:48:39 2020,2020-01-02 13:48:39
70,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-116319.0,2,9616,NaN,1,ju. ene. 2 10:05:15 2020,2020-01-02 10:05:15
71,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-110616.0,2,9616,NaN,3,ju. ene. 2 13:49:10 2020,2020-01-02 13:49:10
72,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104366.0,2,9616,NaN,1,ju. ene. 2 10:04:13 2020,2020-01-02 10:04:13
73,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-112.1,2,9616,NaN,7,ju. ene. 2 11:46:25 2020,2020-01-02 11:46:25

In [63]:
def getDatosIncosistentes(df, cols=[]):
    return df[df[cols[0]].isnull()]
getDatosIncosistentes(allData, ['IMEI',])

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME,DATE_TIME
0,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-108819.0,2,60134,NaN,1,ma. dic. 31 16:30:03 2019,2019-12-31 16:30:03
1,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-975691.0,2,60134,NaN,1,ma. dic. 31 16:29:28 2019,2019-12-31 16:29:28
2,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-110616.0,2,60134,NaN,1,ma. dic. 31 16:28:54 2019,2019-12-31 16:28:54
3,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-115069.0,2,-1,NaN,1,ma. dic. 31 16:27:43 2019,2019-12-31 16:27:43
4,4G,EC-Claro(América Móvil)-01,2250,7.400102e+14,NaN,NaN,-104444.0,2,60134,NaN,1,ma. dic. 31 16:20:54 2019,2019-12-31 16:20:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,4G,EC-Movistar(Telefónica)-00,700,7.400002e+14,NaN,NaN,-104757.0,2,-1,NaN,11,ju. ene. 2 13:48:39 2020,2020-01-02 13:48:39
70,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-116319.0,2,9616,NaN,1,ju. ene. 2 10:05:15 2020,2020-01-02 10:05:15
71,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-110616.0,2,9616,NaN,3,ju. ene. 2 13:49:10 2020,2020-01-02 13:49:10
72,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-104366.0,2,9616,NaN,1,ju. ene. 2 10:04:13 2020,2020-01-02 10:04:13
73,4G,EC-Movistar(Telefónica)-00,700,7.400001e+14,NaN,NaN,-112.1,2,9616,NaN,7,ju. ene. 2 11:46:25 2020,2020-01-02 11:46:25

In [16]:
def getDfCompletoEmaisOk(df: pd.DataFrame):
    return df.loc[df['IMEI'].notnull()]
getDfCompletoEmaisOk(allData)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42
291,3G,EC-Claro(América Móvil)-01,587,7.400002e+14,3.517591e+14,A4C47315,-105.0,3,15251,NaN,1,2019-12-31,17:00:04
290,3G,EC-Claro(América Móvil)-01,587,7.400102e+14,3.557471e+14,FC483124,-66.0,3,50134,NaN,1,2019-12-31,17:00:40
289,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.648850e+14,DA430032,-43.0,3,50134,NaN,1,2019-12-31,17:00:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,3G,EC-Movistar(Telefónica)-00,512,7.400001e+14,3.526861e+14,EA026FB9,-109.0,3,32768,NaN,3,2020-01-03,00:19:34
52,3G,EC-Claro(América Móvil)-01,612,7.400102e+14,3.546141e+14,CF40806C,-95.0,3,50404,NaN,5,2020-01-03,00:04:58
660,3G,EC-Movistar(Telefónica)-00,512,7.400002e+14,8.698230e+14,C51AD745,-108.0,2,32768,NaN,3,2020-01-03,00:26:59
41,3G,EC-Claro(América Móvil)-01,612,7.400102e+14,8.698230e+14,DA434B7C,-92.0,3,32769,NaN,6,2020-01-03,00:07:18
33,3G,EC-Claro(América Móvil)-01,612,7.400102e+14,3.536411e+14,FFFFFFFF,-96.0,3,50134,NaN,4,2020-01-03,00:11:24

In [17]:
allData.head(2)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE,TIME
724,3G,EC-Claro(América Móvil)-01,4387,7.400102e+14,8.612500e+14,BA129B0E,-94.0,3,50134,NaN,1,2019-12-31,15:24:18
292,3G,EC-Claro(América Móvil)-01,4387,7.400002e+14,3.517591e+14,A4C47315,-95.0,3,15251,NaN,1,2019-12-31,16:59:42

In [77]:
def asignarEmais(refDf: pd.DataFrame, dfToAssign: pd.DataFrame):
    """ Assigns Emais for the columns where the emais is null based on the historical data"""
    def obtenerEmai(groupDf):
        rCoincide = refDf[refDf['IMSI'].isin(groupDf['IMSI'].unique())]
        return rCoincide[['IMEI','IMSI']]
    return dfToAssign.groupby('IMSI').apply(obtenerEmai)
asignarEmais(allData, getDatosIncosistentes(allData, ['IMEI',]))

                          IMEI          IMSI
IMSI
7.400001e+14 986  3.550301e+14  7.400001e+14
             555  3.550301e+14  7.400001e+14
             569  3.550301e+14  7.400001e+14
             827  3.550301e+14  7.400001e+14
             854  3.550301e+14  7.400001e+14
...                        ...           ...
7.400102e+14 498  8.679610e+14  7.400102e+14
             12            NaN  7.400102e+14
             464  3.590001e+14  7.400102e+14
             466  3.590001e+14  7.400102e+14
             47            NaN  7.400102e+14

[411 rows x 2 columns]

In [33]:
allData.head(2)

,RAT,OPERATOR,CHANNEL,IMSI,IMEI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME
0,2G,EC-Claro(América Móvil)-01,144,7.400202e+14,3.594591e+14,FFFFFFFF,-61.0,0,65534,NaN,1,2020-01-01 03:05:16
1,2G,EC-Claro(América Móvil)-01,144,7.400102e+14,3.578151e+14,FFFFFFFF,-62.0,0,65534,NaN,1,2020-01-01 03:04:51

In [42]:
def getGroupedByEmais(df: pd.DataFrame):
    # Returns a df with grouped and aggreagated values 
    def joinValues(series):
        return ','.join(map(str,series[series.notnull()].unique()))
    groupedDf = df.groupby('IMEI').agg({
        'RAT':[joinValues],
        'OPERATOR':[joinValues],
        'CHANNEL':[joinValues],
        'IMSI':[joinValues],
        'TMSI':[joinValues],
        'MS_POWER':[joinValues],
        'TA':[joinValues],
        'LAST_LAC':[joinValues],
        'NAME':[joinValues],
        'HITS':['sum'],
        'DATE_TIME':[joinValues],
    })
    return groupedDf
getGroupedByEmais(allData)

,RAT,OPERATOR,CHANNEL,IMSI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE-TIME
,joinValues,joinValues,joinValues,joinValues,joinValues,joinValues,joinValues,joinValues,joinValues,sum,joinValues
IMEI,,,,,,,,,,,
1.037300e+13,2G,EC-Claro(América Móvil)-01,144,740010181070661.0,AB1C32FB,-65.0,0,10228,,1,2019-12-31T18:46:21.000000000
1.099701e+13,2G,EC-Claro(América Móvil)-01,144,740010105803527.0,BF14D9F6,-62.0,0,10228,,1,2019-12-31T15:44:12.000000000
1.122300e+13,2G,EC-Claro(América Móvil)-01,144,740010166301956.0,B40F6169,-61.0,0,10228,,1,2019-12-31T18:58:17.000000000
1.138700e+13,2G,EC-Claro(América Móvil)-01,144,740010132677246.0,A31FD61B,-63.0,0,10228,,1,2019-12-31T18:53:45.000000000
1.138800e+13,2G,EC-Claro(América Móvil)-01,144,740010110407756.0,FFFFFFFF,-61.0,0,65534,,1,2020-01-01T02:14:41.000000000
...,...,...,...,...,...,...,...,...,...,...,...
8.699710e+14,3G,EC-Claro(América Móvil)-01,"587,4387",740010181741750.0,"DD4ED891,E946992E","-109.0,-97.0",3,"32769,50134",,3,"2019-12-31T16:56:35.000000000,2020-01-02T14:45..."
8.699710e+14,3G,"EC-Claro(América Móvil)-01,EC-Movistar(Telefón...","4387,4412,612",740010181033063.0,"EE4F5166,0,DA467294","-94.0,-101.0,-96.0",3,"50404,32769",,4,"2019-12-31T16:42:06.000000000,2019-12-31T12:45..."
8.699710e+14,2G,EC-Claro(América Móvil)-01,144,740010174854075.0,72166056,-63.0,0,10228,,1,2019-12-31T19:12:26.000000000
8.699720e+14,3G,EC-Movistar(Telefónica)-00,4412,740005115200520.0,D531C4B0,-100.0,3,32768,,4,2019-12-31T13:29:32.000000000
9.900058e+14,2G,EC-Movistar(Telefónica)-00,245,740005216004772.0,93A0907D,-65.0,0,40202,,1,2019-12-31T09:13:37.000000000

In [82]:
def getGroupedByEmais(df: pd.DataFrame):
    # Returns a df with grouped and aggregated values 
    def joinValues(series):
        return ','.join(map(str,series[series.notnull()].unique()))
    groupedDf = df.groupby('IMEI').agg(
        RAT=pd.NamedAgg(column='RAT', aggfunc=joinValues), 
        OPERATOR=pd.NamedAgg(column='OPERATOR', aggfunc=joinValues), 
        CHANNEL=pd.NamedAgg(column='CHANNEL', aggfunc=joinValues), 
        IMSI=pd.NamedAgg(column='IMSI', aggfunc=joinValues), 
        TMSI=pd.NamedAgg(column='TMSI', aggfunc=joinValues), 
        MS_POWER=pd.NamedAgg(column='MS_POWER', aggfunc=joinValues), 
        TA=pd.NamedAgg(column='TA', aggfunc=joinValues), 
        LAST_LAC=pd.NamedAgg(column='LAST_LAC', aggfunc=joinValues), 
        NAME=pd.NamedAgg(column='NAME', aggfunc=joinValues), 
        HITS=pd.NamedAgg(column='HITS', aggfunc='sum'), 
        DATE_TIME=pd.NamedAgg(column='DATE_TIME', aggfunc=joinValues), 
    )
    return groupedDf
getGroupedByEmais(df1).head(100)

,RAT,OPERATOR,CHANNEL,IMSI,TMSI,MS_POWER,TA,LAST_LAC,NAME,HITS,DATE_TIME
IMEI,,,,,,,,,,,
1.037300e+13,2G,EC-Claro(América Móvil)-01,144,740010181070661.0,AB1C32FB,-65.0,0,10228,618a4c100a195e186562ecb54ac3e823,1,2019-12-31T18:46:21.000000000
1.099701e+13,2G,EC-Claro(América Móvil)-01,144,740010105803527.0,BF14D9F6,-62.0,0,10228,c5bbe21e0a4e1d128dc8545e5bb48d23,1,2019-12-31T15:44:12.000000000
1.122300e+13,2G,EC-Claro(América Móvil)-01,144,740010166301956.0,B40F6169,-61.0,0,10228,0f9a4269fc7d47ef12c1397b6750fe60,1,2019-12-31T18:58:17.000000000
1.138700e+13,2G,EC-Claro(América Móvil)-01,144,740010132677246.0,A31FD61B,-63.0,0,10228,d2e4d079c1d871e8f06a476b653fe4d8,1,2019-12-31T18:53:45.000000000
1.138800e+13,2G,EC-Claro(América Móvil)-01,144,740010110407756.0,FFFFFFFF,-61.0,0,65534,9a15536d26cd0518c12d23a793d9cce6,1,2020-01-01T02:14:41.000000000
...,...,...,...,...,...,...,...,...,...,...,...
3.515861e+14,2G,EC-Movistar(Telefónica)-00,245,740005216298712.0,99B90ECD,-61.0,0,15251,d9d320f5d8e87f0f130dfcf02709ef99,1,2019-12-31T13:35:19.000000000
3.515951e+14,3G,EC-Claro(América Móvil)-01,"587,4387",740010177606135.0,"0,990A7051","-106.0,-94.0","2,3",32769,5d26f574a5b3777a481a4c68450c9f7d,2,"2019-12-31T18:07:02.000000000,2019-12-31T18:06..."
3.515961e+14,3G,EC-Claro(América Móvil)-01,4387,740010175262267.0,F9434965,-56.0,3,50134,53970d778404320086d47d5eab93496e,1,2019-12-31T15:42:27.000000000
3.515961e+14,3G,EC-Movistar(Telefónica)-00,"4412,537",740005215974009.0,"CC2A7F9C,C32A56BB","-100.0,-104.0",3,40202,35e44f97864c555aaf546ec10c462e69,2,"2020-01-02T10:07:20.000000000,2020-01-02T10:05..."
3.515961e+14,"3G,2G",EC-Claro(América Móvil)-01,"587,4387,136,612",740010175042355.0,"BA11B5A6,A5157EA6,FFFFFFFF,75163AA6,6711CBCE,0","-105.0,-97.0,-66.0,-65.0,-103.0,-104.0,-95.0","3,0,2","50134,10228",483bfe6f4e00b346469c878a25259590,13,"2019-12-31T15:24:51.000000000,2019-12-31T15:22..."